[2017-06-29 09:10] LinguList commented on #354
Yes! Useful to think of how to check the 3000 already now. E.g consistent definitions, etc., But for this, we'd need more personell.

On 29 Jun 2017, 11:05, at 11:05, Robert Forkel <notifications@github.com> wrote:

[2017-06-29 12:07] xrotwang commented on #354
Ok, linked to the other duplicate concept sets are the following lists:
[code]

[2017-06-29 12:08] xrotwang commented on #354
So I'd say we solve the OSMANTHUS FRAGRANS case as proposed by you and delete the other duplicates.

[2017-06-29 12:09] xrotwang commented on #354
Which will leave us with holes in the series of concepticon set IDs, but I think that's ok; we could have a small command that gives us the smallest un-used integer as potential new concept set ID.

[2017-06-29 12:27] xrotwang opened #355 "Invalid `RANK` in Kassian-2015-50"
Under the assumption that a `RANK` must be an integer number, [the value `25a` in Kassian-2015-50](https://github.com/clld/concepticon-data/blob/master/concepticondata/conceptlists/Kassian-2015-50.tsv#L27) is invalid.

[2017-07-03 08:15] xrotwang opened #356 "Invalid/non-standard concept identifiers"
We have four released concept lists with invalid concept identifiers. The concept identifiers in these cases do not have the concept list ID as prefix, but are mostly missing the list-length component of the ID, or just a dash.
I see two options to deal with this:
- Just fix the IDs, leaving appropriate commit logs as only trace.
- Fix the IDs, but store a mapping of revoked IDs as part of the dat

[2017-07-03 09:07] SimonGreenhill commented on #294
This native speaker thinks a VINE is a type of plant (sometimes CLIMBing), of which a GRAPEVINE is a specific type.

I'm pretty sure the [Z'graggen](http://concepticon.clld.org/values/Zgraggen-1980-380-160) list is the generic VINE (not GRAPEVINE).

My recommendation would be to create GRAPEVINE and move the wine specific vines to that?

[2017-07-03 09:31] #293 closed

[2017-07-05 08:55] LinguList opened #359 "lookup command does not give all solutions"
Currently, I get:

[code]

which is obviously only one possibility:

[code]

So the function should list all possibilities.

Another problem is: it seems we can never get similarity "1", maybe because even if part-of-speech information is included, we cannot find a 100% match. This should ideally be changed.

[2017-07-07 14:12] LinguList opened #360 "Dickinson Core Vocabulary for Ancient Languages"
Interesting collection of frequency counts based on ancient corpora:

Here's a Greek list:

* http://dcc.dickinson.edu/greek-core-list

And here's the basic website:

* http://dcc.dickinson.edu/vocab/core-vocabulary

This could qualify as additional frequency metadata (along with the list already assembled which will be added with the new concepticon). By e.g., simply linking frequency data to the

[2017-07-18 06:04] #100 closed

[2017-07-18 06:04] #23 closed

[2017-07-18 06:04] #352 closed

[2017-07-18 06:04] #354 closed

[2017-07-18 06:04] #355 closed

[2017-07-18 06:04] #356 closed

[2017-08-04 15:09] #342 closed

[2017-08-10 12:39] LinguList opened #363 "Linking problematic for the word "to""
Try this to replicate:

[code]
or even better:

[code]

It seems to be due to the mapping (our base-lists, which I recently recompiled). Will have to check them.
Thanks to @laiyunfan for pointing this out!

[2017-08-11 07:54] laiyunfan opened #364 "Source gloss with (adjectival) modifier in Automatic Concept-Mapping"
It does not recognise glosses that partly match the concept, with an additional preceding element.
For instance, in the Bahing data, the mapped file gave question marks for grass:

Actually in the source file, we can find words for "tall grass" and thatch grass:

Just manually added these items, but one cannot ensure that he finds every instance of them.
There is a risk that we miss a (partial) co

[2017-08-11 08:14] LinguList commented on #364
I agree that this would be a nice feature. We'll have to see how easy it is to implement, as it has been some time since I looked at the code. It would result in an even weaker linking of a concept with a gloss, and if a better linking IS found, it would not show it, according to our hierarchy. Can't promise, however, to be able to implement this any time soon (maybe during the glottobank meeting

[2017-08-11 08:15] LinguList opened #365 "Dunn-2017-XX"
Just found this paper: https://muse.jhu.edu/article/651291

As far as I can tell, they have a very short list of cognates, very stable expressions in Germanic. These words might be useful for concepticon, but also for lexibank (as they have data as well).

[2017-08-14 15:31] xrotwang commented on #71
@LinguList could you send the PDF?

[2017-08-14 15:34] LinguList commented on #71
Okay, here's some data to be inserted (apart from mapping the list):

[code]

As a text, I'd suggest:

[code]

[2017-08-14 15:35] LinguList commented on #71
Okay, I'll send PDF via email, as it's not open access.

[2017-08-14 15:39] LinguList commented on #71
As you can see from the description, the history of this list is apparently quite complicated. This is not necessarily the case, but since I don't have the book of Bastin et al., I have a hard-time tracing how the data was collected, etc., Anyway, an impression of the raw data gives the collection of PDF-files: http://www.africamuseum.be/research/human-sciences/cultsoc/lexico-1/

I think, they rea

[2017-08-14 15:59] LinguList opened #367 "Missing concept in our Buck(et) List"
A student (Iván Andrés-Alba) mentioned this: Concept RIB with Number 4.162 is missing in our list, but it occurs in Buck.

[2017-08-25 20:18] SimonGreenhill opened #368 "Use numeral bank to define all numbers?"
https://github.com/glottobank/lexibank-data/blob/master/datasets/numerals/concepts.csv

[2017-08-26 05:20] LinguList commented on #368
Don't we have this covered via the numeral metadata? It's a list of integers @xrotwang created...

[2017-08-26 14:19] SimonGreenhill commented on #368
Ahh, ok. I just noticed there was a lot missing in the lexibank concept list.

[2017-08-26 14:19] #368 closed

[2017-08-31 09:38] LinguList commented on #278
okay, just received thedata in scanned form...

[2017-08-31 09:53] LinguList commented on #19
We just decided to treat the lists as a source of itself, quoting comparalex as author/editor, and noting that the original source was some other text.

[2017-08-31 09:55] LinguList commented on #19
bibliography can found on the about page: http://comparalex.org/index.php?page=about

[2017-09-02 10:55] LinguList opened #369 "Lewis-2016-500"
This is interesting norm data: https://github.com/mllewis/RC/tree/master/data/norms

Thanks to @blasid for pointing this out. Don't forget to put him on the CONTRIBUTORS.md

[2017-09-02 13:15] LinguList commented on #360
okay, complexity is mapped, but I'll need to check how many words are usable in the end.

[2017-09-02 13:31] LinguList commented on #360
Just checked the overlap with our master-500 list: it is only 80 concepts, so we can'really use this, I am afraid.

[2017-09-02 13:53] thiagochacon opened #370 "add ramirez_arawak-setentrional2001_o.pdf to CONCEPTICON"
This list cover swadesh and cultural terms

[2017-09-02 13:55] LinguList commented on #370
We'll need:

- [ ] raw data in text-form, typed off from the concepts (you can upload in txt-format, once done)
- [ ] pdf-scan of which we extract the concepts if possible (only few pages)
- [ ] bibtex format of the source
- [ ] page number
- [ ] linking the concept lists (you know now, how to do this)

[2017-09-02 13:56] thiagochacon commented on #370
[code]

[2017-09-02 13:59] thiagochacon commented on #370
pp. 517-778

[2017-09-02 14:17] LinguList commented on #369
just linked the data but will wait to submit it along with the word-length project (or other project), as this is interesting norm-data which should rather be submitted in a bunch along with a publication.

[2017-09-03 11:30] LinguList opened #371 "Capell-1956-XX: Basic wordlist on Australian languages"
Found this through and article by Nick Evans, the list seems to list some 40+ items which are "basic" with respect to Australian languages.

[2017-09-10 11:46] LinguList opened #373 "Metadata: emotion concepts"
Apart from this database:

http://www.lirmm.fr/~abdaoui/FEEL

There seem to be some more (as this was translated from English), so it seems there's some data in which people have tagged words for emotions. These could be automatically searched and linked to add as metadata.

[2017-09-21 12:33] Anaphory commented on #353
Tell me how to make your life easier with this.

[2017-09-21 12:38] Anaphory opened #374 "pip install should be useful, or not recommended"
The readme says

However, that installation does not come with any data (and assumes it can find its data in something like `PosixPath('/home/anaphory/.local/lib/python3.5/site-packages')`). It would be nice if the lazy user was not provided with useless way to install things – I think either the pip installation should pull in data or not be that easily available at all.

[2017-09-21 13:10] xrotwang commented on #374
Well, having about 30 virtualenvs on my machine, most of them with
pyconcepticon installed, I really appreciate that it does not come with all
the data.

Am 21.09.2017 14:38 schrieb "Gereon Kaiping" <notifications@github.com>:

[2017-09-21 13:53] xrotwang commented on #374
Maybe this info should be de-emphasized, recommending installation via `python setup.py develop` from a clone or export of the repository. Making the package available on PyPI, though, and without the data, makes my life a lot easier.

[2017-09-21 14:04] Anaphory commented on #374
Yes, I'm mostly suggesting de-emphasizing that way of installation.

Your use case makes a lot of sense, but maybe there is a compromise: I'm still not firm in writing `setup.py`s, but maybe that script could be made to download (and possibly update) the data once into a canonical location shared between all `pyconcepticon`s in all virualenvs, setting the root path appropriately, with a command li

[2017-09-21 14:13] LinguList commented on #353
Well, ideally, you would give another run to the automatic linking, and then manually clean the links that don't work (I spotted some links that I did not find quite satisfying in the current version). I could then review it, and we'd add new definitions for all the concepts we find missing. We did a similar workflow with Northeuralex. If you could point me to a pure concept list, without lexical

[2017-09-21 14:16] LinguList commented on #374
I have switched to complet setup.py installations now, as it is easier with virtualenvs, and updating to pypi is also annoying (but maybe because I don't know how to do this manually), so I'd say: deemphasizing first is probably enough. A problem of pypi and pure installs, as I know from lingpy, is also to write these extra information of what data needs to be transferred (the manifest file). I wa

[2017-09-21 14:47] xrotwang commented on #374
Doing any extra work in `setup.py` is error-prone, as it may execute in environments you didn't have in mind - or can't really test (other platforms, travis, etc.). Downloading data during install will also make continuous integration with travis slower - and more fragile. I also want to make users aware that the data lives in a git repository - which they could even contribute to! This would be p

[2017-09-23 07:30] LinguList opened #375 "Historical Thesaurus of English"
This system offers a hierarchy. As metadata, this may be nice, but it will be difficult to parse all data: http://historicalthesaurus.arts.gla.ac.uk/

[2017-09-30 22:00] LinguList opened #377 "emotion sounds from an experiment"
This is a recent paper where emotion is investigated by asking people to describe sounds (if I properly understand from the abstract):

* https://link.springer.com/article/10.1007/s10919-017-0267-y

They also have the stimuli in their submat, where they have concept lists, translated into English, Russian, and Swedish.

* http://cogsci.se/publications/anikin-b%C3%A5%C3%A5th-persson_2017_human-non-

[2017-10-08 18:39] LinguList opened #378 "Starostin-2017-400: new concept list for long(er)-range comparison"
* http://starling.rinet.ru/new400/

Just came out, George informed me, he should be thanked, if we add it.

[2017-10-28 12:04] LinguList opened #379 "Wikipedia's list of cross-linguistic onomatopoeias"
This list is very interesting, as it also delivers language data. Ideally, we should link all the terms to concepticon, as they might play a role in other kinds of surveys:

https://en.wikipedia.org/wiki/Cross-linguistic_onomatopoeias

[2017-10-30 10:08] LinguList opened #380 "MORTAR CRUSHER better as MORTAR"
suggestion by Abbie...

[2017-10-31 08:33] LinguList opened #381 "cross-linguistic account on age of acquisition"
* https://www.ncbi.nlm.nih.gov/pubmed/26276517

In some sense, they must have made their own concepticon... Unfortunately, they share their data only in PDF...

[2017-10-31 12:53] LinguList commented on #381
They just provided me with their data, excellent, and they seem to have a follow-up article on this!

What's left to do is now:

- [ ] link to concepticon (ideally ALL terms, even if it's something like "airplane", as concepticon could help to integrate data for psycholinguistics/psychology as well)
- [ ] add bibliography
- [ ] add short note about the paper
- [ ] don't forget to thank Magdalena Ł

[2017-11-07 14:21] LinguList opened #382 "refine concept mapping algorithm and handling"
- [ ] modify "map_concepts" to "map" or "link" in cli.py (underscore annoys too much)
- [ ] check description for scores and add them to some tutorial
- [ ] refine mapping for some inconsistent cases (see below)
- [ ] don't convert all to lowercase, keep case for an additional layer of similarity (if all is identical)

The following is unexpected:
[code]
Our rule says: if there is no pos-informati

[2017-11-10 14:58] IndianaTones opened #383 "New Concepts (non-essential - for future reference)"
lighter
hibiscus
sheath
kola nut
manure
rinse
couscous
sprinkle
toothpick
porridge
put on
shawl
ceramic pot
handful
baptism
fonio
shea-butter
dip
Baobab leaf sauce
sift
macari
whirlwind
stroll, wander
cemetery
greet
fodder
Fula person
shroud
cowry
granary
weaver
question see ASK (INQUIRE)
sesame
gravel
shard
totem, shrine
spice
co-wife
heal
blow nose
unravel
Dogon person
attach
bump
burnt
you pl
i

[2017-11-10 16:15] LinguList commented on #383
Okay, we'll also need definitions for those, plus some additional information, I'll run you through this later.

[2017-11-11 10:31] chrzyki opened #384 "pyconcepticon API tutorial (README.md) doesn't work for Python 3.x"
Ordered dicts are iterable view objects but not lists in Python 3.x. Thus, the `pyconcepticon` API code snippet fails:
[code]
For Python 3.x something like this, though somewhat more unwieldy, works:
[code]

[2017-11-11 13:23] LinguList commented on #384
True, I think I was actually always doing that, as I only use py3, disregarding the API. As the key tasks is usually anyway to get a concrete concept list, I think we can just modify the API description without modifying the code.

[2017-11-11 13:34] chrzyki commented on #384
Yes, I agree, a change of the API description/documentation would be absolutely sufficient. It is just something I noted that might be a stumbling block for new users.

[2017-11-13 12:09] IndianaTones commented on #384
Speaking of new users (using Python version 2.7.0) both,

or

produce the same error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/clldutils-1.13.10-py2.7.egg/clldutils/misc.py", line 197, in __get__
    inst._cache[self.__name__] = self.fget(inst)
  File "/Users/ah104/Library/Python/2.7/lib/python/site-packages/pyconcepticon/a

[2017-11-13 12:55] xrotwang commented on #384
which version of pyconcepticon is this? Installed from pypi or from a repository clone?

[2017-11-13 14:38] IndianaTones commented on #384
Installed from pypi

[2017-11-13 19:47] LinguList commented on #384
okay, installing from repository using git clone https://github.com/clld/concepticon-data is probably needed, as this will guarantee you use the latest version...

[2017-11-13 19:53] xrotwang commented on #384
Yeah, at some point we changed the data model in a non-backwards compatible way. This should be fixed with a new pyconcepticon release, but realistically, we'll do this together with a new concepticon-data release.

[2017-11-13 19:57] LinguList commented on #384
Yes, so @IndianaTones, sorry for troubling you, but please try the github-clone approach mentioned above. If there are problems, ask me tomorrow, or @chrzyki (who has also a mac) for troubleshooting.

[2017-11-14 08:37] chrzyki commented on #384
Fixed this by using concepticon-data from GitHub & going to update the README with a small note for Python 3.x.

[2017-11-14 08:37] #384 closed

[2017-11-17 10:20] tresoldi commented on #301
It is in the (paywalled) article, they used the 400 concepts from:

Holton, Gary, Marian Klamer, František Kratochvíl, Laura Robinson, and Antoinette Schap-
per. 2012. The historical relation of the Papuan languages of Alor and Pantar. Oceanic Lin-
guistics 51: 87–122.

Fortunately, this one is [open access](https://openaccess.leidenuniv.nl/bitstream/handle/1887/18594/Holton%20et.al.%20OL%202012%2

[2017-11-17 10:25] tresoldi commented on #301
And Robinson & Holton removed loans and concepts with few entries, there are actually down to 351 from the original 400. As they explain, it is an expanded Swadesh-200, with (quoting R&H, p. 133) "some items [...] included simply because they reflect a certain proto-sound or because they are thought
to have widely distributed reflexes in the daughter languages".

[2017-11-19 16:43] LinguList commented on #301
Nice, so we need the first article by Holton, Klamer with the 400 concepts, plus then the second one by Robinson & Holten. This can be indicated in the note field of concepticon. Let me know if you need the R&H article, as I have it.

[2017-11-19 17:06] tresoldi commented on #301
I have found the article, but no supplements (not sure if they were actually made public). But still, is it acceptable to submit not only new lists, but new concepts?

[2017-11-19 17:12] LinguList commented on #301
we have all supplements of Robinson & Holton 2012, didn't I submit the link above? we have:

* Robinson-2012-351 (supplement online)

and

* Holton-2012-400 (supplement unclear,right?)

We'll need two lists, and if one list contains more new concepts which we do not yet have in concepticon, they need to be added. As a rule, we don't add new concepts without a list. If Holton-2012-400 does not have

[2017-11-19 17:14] LinguList commented on #301
If you add those two lists, you should first test the automatic linking with concepticon, which works rather well, then set aside those concepts where you think a new concept is needed, and add them to our concepticon.tsv list, along with definitions. We'll also need:

1 description in conceptlists.tsv file of the new concept lists
2 addon in the metadata file for each list, in case there are more

[2017-11-19 17:17] LinguList commented on #301
we identify 108 cognate sets reflecting regular sound correspondences. The range of
semantic domains covered by the cognate sets and the number of sets represented in each
domain are given in table 2.

This means, they don't show the list in the article, and we need to ideally ask Marian Klamer whether she still has the data, as the concepts would be interesting. Should I do that tomorrow?

[2017-11-19 17:23] tresoldi commented on #301
As far as I can tell, Robinson's concept list matches Holton's one (in the article, Robinson et al. say that they excluded some concepts, but this seems to refer only to analysis, as the supplement perfectly matches what is described by Holton -- in particular, while they used 351 concept for analysis, the  supplement includes all 400 of them). I'd say there's no need to bother Marian Klamer, at l

[2017-11-19 17:26] LinguList commented on #301
Just prepare the list as:

* ID
* ENGLISH
* WHATEVER OTHER COLUMNS

And then do:

[code]

You'll see the output.

[2017-11-19 17:27] LinguList commented on #301
And yes: if they have 400 sharp, we can just add the list as Robinson-2012-400 and all will be fine. No need to add Holton-2012.

[2017-11-20 13:42] IndianaTones opened #389 "Concept mapping for gloss languages other than English"
Apologies, but I cannot find the correct code for how to map using a glossing language other than English (in this case French).

I usually use:

$ concepticon map_concepts INFILE.tsv > OUTFILE.tsv

so not sure where to indicate the difference.

[2017-11-20 14:24] xrotwang commented on #389
I guess `map_concepts` could use a docstring:
[code]

[2017-11-20 14:27] xrotwang commented on #389
[code]
should do the trick.

[2017-11-20 14:28] xrotwang commented on #389
Please leave this issue open until the command is documented.

[2017-11-20 14:55] LinguList commented on #389
Documentation has been so far prepared for the tutorial:

* https://github.com/digling/edictor-tutorial/blob/master/Historical%20Language%20Comparison%20with%20LingPy%20and%20EDICTOR.ipynb

Search for 2.5: "Enhancing your data".  This could probably be copy-pasted.

[2017-11-20 15:01] LinguList opened #390 "Enhance basic statistics for Wordlists during mapping process"
I just discussed with @chrzyki how to add new functionalities into the CLI. The basic idea is:

1. a command ```concepticon mergers conceptlist``` which spits out the concepts which are merged.
2. a command ```concepticon check conceptlist``` which tests for general conformity and will spit out problems, like non-unqiue IDs etc. Current functionality is lacking, as it only gives us the first non-u

[2017-11-20 16:01] IndianaTones commented on #389
Thank you - the solution is a bit tricky as I had to label the glosses column as ENGLISH (even though it is obviously French).

The string which works is:

$ concepticon --language=fr map_concepts Concepts-Fulfulde.tsv

as warned, the output isn't terrific- 430/3343, 13%, but better than nothing!

[2017-11-20 16:09] LinguList commented on #389
Oh, that is annoying, but no need to label it to "ENGLISH", "GLOSS" will also work, but this is a real bug, we should fix that.

[2017-11-21 08:56] LinguList commented on #383
Hey, don't be angry with me @IndianaTones, but I will close this now, as I suppose that it should come out of the data, and now that we have the procedure to allow for not yet linked new concept sets by preceding them with the !, we can later, when we finalize the list for dogon/bangime, etc. submit a new list of proposed concepts and enhance concepticon.

[2017-11-21 08:56] #383 closed

[2017-11-21 08:57] LinguList commented on #380
@xrotwang, do we need/have a "retire" procedure for this kind of stuff, or can we simply replace the concepticon_gloss?

[2017-11-21 09:09] LinguList commented on #364
I suppose we should discuss for enhancing the #382 issue. Either: explicitly deny partial mapping of "grass hopper" to "grass" (my favorite, as this can be dangerous at times) or: allow for a specific similarity level that WOULD include this, but make sure that the similarity level as a default is not allowing for this kind of mapping. Anyway: the #382 issue is crucial to handle this.

[2017-11-21 09:45] xrotwang commented on #380
I think we could simply start with a CHANGES.md, see http://keepachangelog.com/en/1.0.0/

[2017-11-21 09:56] LinguList opened #391 "Add Parabank and Vanikin Concepts"
This is just to remind us all that we should do this ideally for version 1.1, as then, this will be done in one rush, and it seems that they are advancing on this matter now, judging from the email I just received from Sam Passmore.

[2017-11-21 10:27] LinguList commented on #380
Okay, this would mean something like:

[code]

seems that it would be useful to stick to some regular style (as it may happen in the future, that we refine some other glosses as well, especially also for kinship terms)

[2017-11-21 10:31] xrotwang commented on #380
Maybe rather
[code]

[2017-11-21 10:32] xrotwang commented on #380
But yeah, something simple. I wouldn't worry about machine readability until we have a couple more examples.

[2017-11-21 11:31] IndianaTones commented on #389
Just wanted to update that the glosses it found were really accurate. I got a total of 414 solid entries from this so thank you!!!

[2017-11-21 11:40] LinguList commented on #389
wow, this shows that it is a useful function. We hope wit the next release we'll have it working more properly. And with new data to be added (more lists in French, etc.), it will hopepfully even work better on different languages...

[2017-11-22 21:19] tresoldi opened #393 "Concept linking problem for WAKE UP"
As discussed in pull request #392 , we might need to check the transitivity of the verbs, discussing cases (especially already mapped ones) such as WAKE UP/WAKE SOMEBODY UP, BURN/BURN SOMETHING, BATHE (ONESELF)/BATHE SOMEONE ELSE, etc.

[2017-11-23 07:08] LinguList commented on #363
this relates to our general problem of automatic mapping as discussed in #382, I just assigned those things to the same milestone.

[2017-11-23 21:12] #189 closed

[2017-11-25 13:47] tresoldi opened #396 "Review grammatical concepts, especially pronouns"
There are grammatical concepts, especially pronouns, missing; these are found in some concepts lists as linguists collect them both for typological research and for investigation of language evolution (assumed to be more stable and less subject to borrowing). One of the case is that of Papuan languages, as in Z'graggen's list; see https://github.com/clld/concepticon-data/pull/395 .

The concepts s

[2017-11-27 12:11] chrzyki opened #398 "Is --map_type= (as referenced in CONTRIBUTING.md) still in use?"
After successfully pushing to master without the slightest intention of doing so, here something hopefully more constructive: The guide for making [contributions using automatic mapping](https://github.com/clld/concepticon-data/blob/master/CONTRIBUTING.md#using-automatic-mapping-software) refers to an argument (`--map_type`) for `map_concepts` that, as far as I can see, doesn't exist (anymore)

[2017-11-27 12:51] LinguList commented on #398
it should still be there, but we now almost exclusively switched to the faster map2 rather than the older map1. In my opinion, we could even delete map1 (you'll find it via the CLI code, there are two mapping algorithms), but I'd prefer to have this done along with a refinement of the glosses.py as addressed in #382

[2017-11-28 07:20] LinguList opened #401 "clean up helper scripts and maybe think of deleting the unlinked lists"
The unliked lists look a bit ugly there, although it is useful for the workflow, as somebody may just type off a list but not link it. We should find a nicer solution for this than just this folder.

[2017-11-28 07:22] LinguList opened #402 "concept relations and modification of concept labels for "sibling""
[code]

These concept sets need to be refined. First, we need concept relations to already existing SIBLING terms in concepticon, second, the SAME-SEX would be ideally put into brackets.

[2017-11-28 07:38] LinguList opened #403 "simple html website with minimal js support to lookup concepticon concepts"
when linking, we often search concepticon concepts by re-writing or re-spelling some senses. Obviously, this could be enhanced, as the website does not list all recent glosses, and the github version is only on text. I imagine a simple html generated from our concepticon data, with minimal js that can be opened locally and lists:

1 the normal concepticon glosses
2 the "reflexes" in other lists (a

[2017-11-28 08:21] SimonGreenhill commented on #402
This is something that might be helped by Kinbank (@Supertyp)?

[2017-11-28 08:42] LinguList commented on #402
Yes, they are working on it, but they tend to split all types, while concepticon has all kinds of degrees (coarse, narrow). I won't really think of changing too much of the concepticon_gloss here soon, as once the vanikin/parabank list is finalized, we will take over their proposed labels.

But I think, at some point, we need a policy for broader/narrower relations. I prefer to only show the close

[2017-11-28 11:55] LinguList commented on #403
first demo is [here](http://calc.digling.org/concepticon/)

[2017-11-28 12:02] tresoldi commented on #403
This is actually very good, I can see myself using it as it is right now. :+1:

[2017-11-28 12:04] LinguList commented on #403
Thanks, I'll gladly share the details on the algo with you, as this is SO SIMPLE, but just uses the major principle as I mentioned before: store in memory, don't compute.

[2017-11-28 12:06] tresoldi commented on #403
Yes, I'm looking at the `getGlossesBySimilarity` right now. As usual I plan too far ahead and build a cathedral when a hut would be faster and just as good.

[2017-11-28 12:07] LinguList commented on #403
I ask myself, @xrotwang and @SimonGreenhill, how we should deal with this? I wrote a
[code]
function that creates this output. The website would be stored in the concepticon package in a html folder (only three files). But we might want to add this to a gh-pages branch as well, so that it can be regularly updated, or, alternatively, we would point users that they can use the offline version, plus

[2017-11-28 12:10] xrotwang commented on #403
well, this could certainly be served by http://concepticon.clld.org
And I guess starting with the next release we should switch to a more frequent release cycle anyway?

[2017-11-28 12:14] LinguList commented on #403
Yes, given the new contributors we have now, we probably want to have more regular releases.

I always dreamed of a web-version of ```$ concepticon map```, but I think, if we add this, it is even enough functionality for most linguists who want to add a 100 concept list and are ready to spend an hour for this (be it their own hour or the hour of their poor Hiwis).

[2017-11-28 12:14] LinguList commented on #403
Should I just submit my current code as PR? It does not harm anything, but I don't know how to test this.

[2017-11-28 12:41] xrotwang commented on #403
yes, PR is good

[2017-11-28 13:19] LinguList commented on #398
I suppose, but I am open for a discussion, also with @tresoldi, that we reduce the current mapping algorithm in concepticon to the one that we currently have, provided that we refine the different degrees of similarity, and potentially by also adding some of the ideas that wen't into the online look up #403. That would allow us to close this immediately, once the new algorithm is provided.

[2017-11-28 13:23] LinguList opened #406 "Gampe-2017-48"
This concept list provides estimates on bilingual children's lexicon and translational equivalents, based on this paper:

[code]

The first author cordially provided the data and should be thanked when adding this list:

- [x] acknowledgments
- [x] arrange raw data for concepticon mapping
- [x] concept mapping
- [x] conceptlists.tsv
- [x] add reference

The data is here:

[data_concepticon.txt](ht

[2017-11-28 13:34] tresoldi commented on #398
It seems the function is there (it is `glosses.py:concept_map()`, right? opposed to `concept_map2()`) but @chrzyki is right, the command line argument is not there (I wanted to use it).

I think what is important is for those who know Concepticon better to decide/guide on the resources and eventual dependencies the mapping can/should use. As for the algorithm, from my short experience the problems

[2017-11-28 13:54] LinguList commented on #398
This all can be handled by improving on the similarity_level. This is the reason why one concept may be preferred over another concept, and this can be easily handed by adjusting what counts to be how similar in the current concept_map() algo. The detailed glosses may indeed be useful for those who are new to concepticon, so we could just add additional info later on when making the automatic link

[2017-11-28 14:12] LinguList commented on #382
I just figured that the calculation of the self.frequencies of Concepticon is taking an extremely long time, since it is reading every list, which is hampering our automatic lookup. I would suggest to either store frequencies explicitly in a text-file, maybe in pyconcepticon/data/ and then recompute it once in a while, or to drop it completely (although frequencies are useful).

[2017-11-29 14:24] chrzyki commented on #381
Current progress [here](https://github.com/chrzyki/concepticon-data/blob/luniewska/concepticondata/conceptlists/Luniewska-2015-299.tsv) and [here](https://github.com/chrzyki/concepticon-data/blob/luniewska/concepticondata/conceptlists/Luniewska-2015-299.tsv-metadata.json) (metadata).

[2017-11-29 14:42] LinguList opened #408 "Check for reduction of <NA> concepts."
maybe by automatically re-linking all NA concepts in all lists and proposing changes.

This could potentially even become a new command.

[2017-12-01 10:42] chrzyki opened #411 "Documentation of Relation Mapping"
Hey,

I could only find the set of relations that are to be used with Concepticon directly [in the code](https://github.com/clld/concepticon-data/blob/f476c61ba1f9ef733584defff3b8e0fb15323ff6/helpers/relations.py) (if it is also documented someplace else I haven't found it yet, sorry!).

It might be useful and helpful for new contributors to list those directly in the CONTRIBUTING.md, together wit

[2017-12-01 10:55] xrotwang commented on #411
Good find! Yes, we should document these. We may actually start a Concepticon relation ontology, which could be very lightweight - considering that we mostly re-use well-defined relations like [skos:broader](https://www.w3.org/2009/08/skos-reference/skos.html#broader).

Any takers?

[2017-12-01 11:02] LinguList commented on #411
Yes, and this would be a good chance to evaluate one specific requirement I consider useful: we should restrict the edges between concepts in the graph to the immediate neighbor, e.g., having a graph (here shown in triples):

Source | Target | Relation
--- | --- | ---
grandfather | grandparent | narrower
grandfather (father's father) | grandparent | narrower
grandfather (father's father) | grandfa

[2017-12-01 11:05] LinguList commented on #411
BTW: I can look into the network algo for reducing/checking relations, but I can't take over the ontology, as I don't know the principle behind this (I don't even know what an ontology is).

[2017-12-01 11:07] chrzyki commented on #411
If I understand you correctly that should be a fairly straightforward case of transitive reduction in a graph, which has a reasonable (read: for our purpose not relevant) complexity/timing impact.

[2017-12-01 11:13] LinguList commented on #411
Yes, that sounds like what I mean. We'd only need it for testing, I suppose, so we could even use networkx as dependency for tests. It would be useful, also with respect to the ontology, right?

[2017-12-01 20:39] #381 closed

[2017-12-05 11:51] LinguList commented on #184
[ConcepticonCompilers.txt](https://github.com/clld/concepticon-data/files/1531008/ConcepticonCompilers.txt)

[2017-12-05 11:51] LinguList commented on #184
This should also be added to the "RELEASING.MD"

[2017-12-06 13:22] LinguList opened #413 "Auracher-2017-16: Stimuli on iconicity of vowel height and animal names"
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5665516/

Some 16 concepts, SI 1 contains the concept list.

[2017-12-08 08:39] chrzyki commented on #406
Is it okay if I take this one?

[2017-12-08 08:39] LinguList commented on #406
I'll be pleased if you do ;)

[2017-12-11 10:10] chrzyki commented on #406
First attempt #415. I wasn't quite sure with respect to naming the columns, maybe we can talk about that later today or tomorrow.

[2017-12-12 11:58] chrzyki commented on #406
Done, see 8ba346e08b01eac60e4c6a9b7ab33aad4f7860d5.

[2017-12-12 11:58] #406 closed

[2017-12-13 11:42] LinguList opened #417 "Viti-2017-19"
[code]
This list is interesting for some reasons, as it shows word pairs which mean the same but reflect different contexts of use in Avestan ("daemonic" vs. "divine").

![viti-2017-19](https://user-images.githubusercontent.com/2916210/33937230-ec9191c4-e002-11e7-845f-bff865d61b8f.png)

T

[2018-01-04 09:34] chrzyki commented on #411
Should we split this into two separate issues/tasks?

- documentation of relations in Concepticon and how to use/find/apply them
- transitive reduction for reducing 'irrelevant' relations

[2018-01-04 09:38] chrzyki commented on #398
I've updated the documentation to the current version of the command for automated mapping. Should the other tasks be split into separate issues? I could go ahead and do that.

[2018-01-04 09:50] chrzyki commented on #390
I'd like to move the Dogon scripts that, partially, tackle these tasks into the code base. To what extent does it make sense to have `check` (which would be new) and `test` (which already exists) as distinct arguments? From a programmer's point of view I can see the difference, from the end-user's perspective this might be confusing. Oh, this also raises the issue that the stack traces `test` thro

[2018-01-04 10:35] LinguList commented on #411
Yes, please do so!

[2018-01-04 10:35] LinguList commented on #398
Yes, please, good idea!

[2018-01-04 10:37] LinguList commented on #390
Check is for those people who currently work on a given concept list and want to test this particular concept list and this list alone. Test is to trigger all tests which will re-test all data according to our criteria (a short cut to avoid some problems with Nose).

[2018-01-04 14:20] chrzyki opened #419 "Document Conventions and Examples for Relations"
[conceptrelations.tsv](https://github.com/clld/concepticon-data/blob/master/concepticondata/conceptrelations.tsv) contains a large number and variety of relations between different concepts. Their usage is not documented and only deducible from the [code base](https://github.com/clld/concepticon-data/blob/f476c61ba1f9ef733584defff3b8e0fb15323ff6/helpers/relations.py). Concept relations need to be

[2018-01-04 14:22] chrzyki opened #420 "Identify and Remove (?) Redundant Relations"
Relation complexity in [conceptrelations.tsv](https://github.com/clld/concepticon-data/blob/master/concepticondata/conceptrelations.tsv) can be reduced by means of transitive reduction (i.e. by removing unnecessary edges). More information can also be found in #411.

[2018-01-04 14:22] chrzyki commented on #411
Done, will be tracked in #419 and #420 respectively.

[2018-01-04 14:22] #411 closed

[2018-01-04 14:24] chrzyki commented on #390
Alright, makes sense. So we should/could disambiguate this by means of parameter explanations/help files/documentation/etc.?

[2018-01-04 16:53] LinguList opened #421 "Pagel-2018-XX: Rank order of stable words across language families"
* http://rstb.royalsocietypublishing.org/content/373/1740/20160517.figures-only

This is a very small list, not of high priority, but could be easily mapped:

The relevant table is Table 1.

[2018-01-05 07:53] chrzyki opened #422 "Enhance Concept Mapping"
The way automatic concept mapping works can be improved, especially from an end-user perspective. @LinguList suggests a number of ways in #398. Amongst those:

- an interactive way of working with concept mapping suggestions (e.g. in the form of a small web app)
- POS information and definitions
- better (more approachable? understandable?) similarity levels
- better handling of malformed input in

[2018-01-05 07:54] chrzyki commented on #398
Documentation updated. Enhanced concept mapping outlined in #422.

[2018-01-05 07:54] #398 closed

[2018-01-09 14:28] LinguList opened #424 "Stoll-1884-XXX: Maya vocabulary"
List in German is here:

* http://maya.polycorpora.org/chol_stoll_1884

Thanks to @lannin

[2018-01-11 09:48] LinguList opened #426 "GECO corpus on mono- and bilingual sentence reading"
If you look at this corpus, you'll see that it is an excellent example for metadata, as it provides a rather detailed annotation of a full novel, along with eyetracking data:

* http://expsy.ugent.be/downloads/geco/

I imagine, one could automatically link the data as metadata, but it would require to transform the original dataset, as they have repeating words, so from these, we'll need to refere

[2018-01-12 13:44] chrzyki opened #427 "World Atlas of Transitivity Pairs"
- http://watp.ninjal.ac.jp/en/
- http://watp.ninjal.ac.jp/en/downloads/

TODO:

- [ ] link
- [ ] add bibliography
- [ ] add notes
- [ ] thank Martin for version 1.1

[2018-01-18 06:36] LinguList opened #428 "Lieberherr-2017-100: Dataset on Kho-Bwa language cluster"
100 concepts in this dataset, url for the data is:

* https://cloudfront.escholarship.org/dist/prd/content/qt4t27h5fg/supp/dataset_khobwa.csv

Article URL is here:

* https://cloudfront.escholarship.org/dist/prd/content/qt4t27h5fg/qt4t27h5fg.pdf?t=p2q2o0

I already made the bibtex:

[code]

[2018-01-18 06:40] LinguList commented on #428
Their code is also on github: https://github.com/metroxylon/subgrouping-kho-bwa

[2018-01-30 10:21] chrzyki commented on #427
Hey,

went ahead and crawled all the files (in case you haven't done that already, anyway). As far as I can tell one list is missing/the link is not correct:

- http://watp.ninjal.ac.jp/en/downloads/Amdo_Tibetan/

All the other 81 files can be found here: [Transitivity_Pairs.zip](https://github.com/clld/concepticon-data/files/1677235/Transitivity_Pairs.zip)

[2018-01-30 12:28] LinguList commented on #427
Nice. They really only have those 20x pairs, right? But it's a start, and I think all we need for concepticon is adding the concepts, ideally providing URLs to the website for each pair, thinking of how to illustrate connetions between the pairs (e.g., by adding a causative column, or by adding a number similar to a cognate-id in an extra column, so that concepts belonging to the same pair will ha

[2018-01-30 12:50] chrzyki commented on #427
Sure, will do! I think what you've outlined (the relational approach with numbers corresponding to the cognate IDs) is neat.

[2018-02-10 21:34] LinguList opened #429 "fix date of Yakhontov's 35 item list"
It seems to appear already in his 1956 paper.

[2018-02-12 14:15] chrzyki opened #430 "Perlman-2018-30: Iconic Vocalizations"
- Publication: https://www.nature.com/articles/s41598-018-20961-6

- Concepts, as far as I can tell, all depicted in 'Figure 3'

[code]
Not sure about the publisher.

[2018-02-13 13:31] chrzyki commented on #413
Taking this.

[2018-02-13 13:32] chrzyki commented on #421
Taking this.

[2018-02-13 13:32] chrzyki commented on #430
Taking this.

[2018-02-13 14:03] chrzyki opened #431 "Release a new version of pyconcepticon to fix clldutils.csvw issues"
Due to recent changes in the architecture of [clldutils](https://github.com/clld/clldutils) (particularly `clldutils.csvw`) the `pip`/PyPI version doesn't work with concepticon any longer. Working with a development installation from a local repository (`python setup.py develop` etc.) of course works as expected.

We should either

- release a new version of `pyconcepticon` to make the `pip instal

[2018-02-13 14:06] LinguList commented on #431
Releasing should wait until we have decided what we want to put in the release: e.g., do we want improved CLLD, etc? Even the CLLD app will need some refinement now, so while we can think along the lines of having this done by end of, say, April, it is not before then that we should draft a new release. Ideally, I'd like to have the improved search procedure included there, and a little search fie

[2018-02-13 14:08] chrzyki commented on #431
Ok, cool. Totally understandable. Should we then, for the time being, just recommend the workflow with installing the package locally in development mode?

[2018-02-13 14:10] LinguList commented on #431
yes!

[2018-02-13 14:12] chrzyki commented on #431
Done & thanks for the input: 56f18bfbdcd7d17f6f2ffc36daef87cb0f779583

[2018-02-13 14:12] #431 closed

[2018-02-13 18:47] SimonGreenhill commented on #431
Does this also fix https://github.com/clld/concepticon-data/issues/374?

[2018-02-13 18:58] LinguList commented on #431
It will fix it, if we go for @xrotwang's new structure by which all data is arranged as we have it in clts, with one `src/` repository. Our problem with the lists is that we don't have a `MANIFEST.in`, but with the new style, this won't be needed, and data would be available from within the repo by pip-installing.

[2018-02-13 18:59] LinguList commented on #431
At least that's how I understood it. But there's still some work to do on concepticon. However, my current priority is CLICS. The goal is to have a first version with internet and CLLD by beginning of March.

[2018-02-14 11:23] chrzyki commented on #413
Added in 010e7349664b7d77cd24af144710663a7418318b.

[2018-02-14 11:23] #413 closed

[2018-02-16 16:36] LinguList opened #434 "Colors and Smells study"
Not clear yet, how many concepts, and what efforts it costs, but this paper is based on a questionnaire:

* http://www.cell.com/pb/assets/raw/journals/research/current-biology/S200backup/majid.pdf

Here's a description by the MPI people:

* http://www.mpi.nl/news/hunter-gatherers-have-a-special-way-with-smells

they use charts for the colors, so naming is difficult, but the odors are based on obje

[2018-02-16 16:36] LinguList commented on #434
Supplementary data is in the Language Archive:

* https://corpora.humlab.lu.se/ds/asv/;jsessionid=B78FEC6C55780E02B2B5E91962C9E874?0&openhandle=hdl:10050/00-0000-0000-0003-CFA7-6

[2018-02-16 16:39] LinguList commented on #434
In the SM, they mention some kind of a Munsell code for colors. We may consider adding this as metadata to concepticon? But we'd need a resource where one can find a chart, and then link the colors in concepticon to those codes (making some rough, bold decisions, no need to be too strict).

[2018-02-16 17:46] SimonGreenhill commented on #434
Yes, it would be awesome to link colors to a real Munsell-style catalogue. This would allow us to look into things like [Berlin and Kay's](https://en.wikipedia.org/wiki/Basic_Color_Terms:_Their_Universality_and_Evolution) work

[2018-02-17 17:10] LinguList opened #435 "Link to normdata in http://www.psych.rl.ac.uk/ is dead"
Unfortunately, maybe we need to look for the new data, or just no longer use the link (for the current concepts, we have the data).

[2018-02-22 12:55] chrzyki commented on #421
Merged in #433 (this PR and the discussion is also a helpful reference for linking lists that are based off of basic lists).

[2018-02-22 12:55] #421 closed

[2018-02-28 06:59] LinguList opened #436 "Kibrik-2012-122: Early acquired verbs"
This list is interesting, as it contains verbs which are early acquired by children. Based on an earlier psycholinguistic study. It is also one of the rare cases where typological studies in contrast to linguistic studies are emphasized.

* https://www.degruyter.com/view/j/ling.2012.50.issue-3/ling-2012-0017/ling-2012-0017.xml

[2018-02-28 10:42] chrzyki commented on #436
Prepared a first draft of this list, just something to get started:
[Kibrik-2012-122.tsv.zip](https://github.com/clld/concepticon-data/files/1766700/Kibrik-2012-122.tsv.zip)

Also, bibliographic information:

[code]

[2018-03-01 06:21] LinguList opened #437 "Recreate the Links should be part of the API"
The code I currently use is the following:

[create-data.py.txt](https://github.com/clld/concepticon-data/files/1769974/create-data.py.txt)

I use it to create the files in pyconcepticon/data, with ending according to the languages (in two-letter code).

If we integrate this in the api (as the HTML routine, which creates the standalone app in JS for matching), it will be more consistent.

[2018-03-01 06:31] xrotwang commented on #437
As far as I remember, I already turned this into a command.

Johann-Mattis List <notifications@github.com> schrieb am Do., 1. März 2018,
07:21:

[2018-03-01 06:42] LinguList commented on #437
Ups. Sorry, I actually thought it might have been, but I was searching yesterday and just didn't find the command ...

[2018-03-01 06:43] LinguList commented on #437
I see: write_linking_data! Sorry!

[2018-03-01 06:43] #437 closed

[2018-03-01 19:20] LinguList opened #440 "LIVING vs. BE ALIVE: systematic checking of glosses"
this is in order, as we seem to have instances where BE ALIVE is used but LIVING should be used instead...

[2018-03-01 19:26] LinguList opened #441 "FEAR (BE AFRAID) has no transitive counterpart"
we may need it: I fear X, etc.

[2018-03-01 19:32] LinguList opened #442 "We have BELOW OR UNDER but not BELOW and not UNDER"
but we have the two in NorthEuralex.

[2018-03-02 06:51] LinguList opened #443 "POINTED (SHARP) as in German "spitz" is missing"
This concept recurs in quite some lists, but we have not really distinguished it so far, I'm afraid.

[2018-03-02 07:34] xrotwang opened #444 "Standardize lookup app"
Following the discussion at https://github.com/lingpy/clics-data/issues/19 I propose to rename
- `html/concepticon.html` to `app/index.html`
- the command `html` to `app`

The idea is that each repository which provides an `app` command will then direct the user to open `<repos>/app/index.html` in the browser to run the app.

[2018-03-02 07:45] xrotwang commented on #444
@LinguList ok with this?

[2018-03-02 08:19] xrotwang commented on #444
We could then standardize this by adding a `appdir` property to [`Api`](https://github.com/clld/clldutils/blob/7388c0d3cf7ff6b6b275470ac206f5500d34cb05/src/clldutils/apilib.py#L56), and maybe even provide a command wrapper in `clldutils.apilib` - say a decorator which calls the decorated function and then runs `webbrowser.open(api.appdir)`.

[2018-03-02 08:34] xrotwang commented on #444
I would remove the `app` directory from the repository, though, since it's something that can be automatically recreated from the data. Rather, the `app` command could have a `--recreate` flag.

[2018-03-02 08:59] LinguList commented on #444
Sounds all very good to me, the only question I'm asking myself is: where would I put the templates if we remove the app dir? For now, we have an unfortunate (but easy for developing) mix of js-code, css, html, PLUS the data that comes in. For developing, this is easy, but less elegant for the whole idea, I am afraid.

[2018-03-02 09:22] xrotwang commented on #444
Ok, I see. Why not keep the `app` directory in the repos, but put all created content under `app/data`. Then
- presence or absence of `app/data` can be used as flag to indicate whether the content has been created already
- `app/data` can be put in `.gitignore` to make sure we don't distribute inconsistent states of created data.

[2018-03-02 10:40] #444 closed

[2018-03-05 11:39] chrzyki commented on #436
Might as well take this, then. :) Any lists/references to keep in mind for this one?

[2018-03-05 11:48] LinguList commented on #436
I haven't had time to really read this paper. What I think is important is to trace a bit the history (they take it from age-of-acquisition, do we find the original list, etc?). We want to re-use the data for a study on verbal derivation, and I'd suggest you add @laiyunfan as a reviewer of the mappings, as this list is in general interest of the CALC people...

[2018-03-05 12:54] LinguList opened #445 "Project Monika on Lesxical derivation: Some potentially interesting short questionnaires"
* http://www.ugr.es/~svalera/Monika/

[2018-03-06 07:11] xrotwang opened #446 "Must check CONCEPTICON_ID referenced in metadata"
The data consistency test must make sure only valid CONCEPTICON_IDs are referenced in `concept_set_meta`.

[2018-03-06 07:27] LinguList commented on #403
the app is there now, closing this.

[2018-03-06 07:27] #403 closed

[2018-03-06 07:28] #147 closed

[2018-03-06 07:29] LinguList opened #447 "broken metadata links"
Many links in metadata are broken: Edinburgh Thesaurus, but also the MRC psycholinguistic database. We should delete the links here and add a note that the data is no longer online. the Edinburgh Thesaurus is on github, however, but not linkable, as it's only a json dump.

[2018-03-06 07:31] LinguList opened #448 "Link to cookbook/usage in CLLD App"
If we publish version 1.1 now, we need to have one quick illustration of what the API can do, as the API was so far never addressed, apart from in some tutorials. This should be ideally linked by the CLLD app, so that people know that linking their data manually is not the only way. It may be sufficient, though, to just mention the API on github and THEN adding more info here.

[2018-03-06 07:33] xrotwang commented on #446
I only found one invalid case, though.

[2018-03-06 08:09] xrotwang commented on #448
What about this https://github.com/clld/concepticon-data#usage ?

[2018-03-06 11:01] #447 closed

[2018-03-06 11:09] #317 closed

[2018-03-06 11:09] #326 closed

[2018-03-06 12:36] LinguList opened #450 "Bengtson-2017-12: very stable list"
[code]

The quote is on p 15:

[2018-03-07 07:27] #374 closed

[2018-03-07 07:29] xrotwang commented on #178
we're on the way

[2018-03-07 07:29] #178 closed

[2018-03-07 10:44] SimonGreenhill commented on #450
Done in https://github.com/clld/concepticon-data/pull/454

[2018-03-07 10:44] #450 closed

[2018-03-11 07:36] LinguList commented on #369
We should just add it soon. What is to do and has to be done:

- [x] linked (but maybe should be checked)
- [x] [bibtex](http://bibliography.lingpy.org/evobib.php?key=Lewis2016) is there, with DOI for original paper
- [ ] short story in conceptlists.tsv (adding URL to github, etc.)

The linked concept list I made is here:

[Lewis-2016-499.tsv.txt](https://github.com/clld/concepticon-data/files/180

[2018-03-18 11:00] LinguList opened #455 "Body Parts in the EoSS project (Dunn / Jordan et al.)"
First mention I found is here:

* https://www.sciencedirect.com/science/article/pii/S0388000114001466

But I don't find any more information, maybe we should ask @evoling, to provide us with as many of the stimuli used in that paper as possible? we can't link all of them, but body parts should be there for sure...

[2018-03-22 08:10] chrzyki opened #456 "MAKE (734) vs DO OR MAKE (2575)"
I take it that 2575 is more general, but when do/should we use which? I think they are both used mostly equally among the different lists.

[2018-03-22 08:19] chrzyki opened #457 "TRADE (898) vs TRADE OR BARTER (2135) (vs BUY (1869))"
Having 898 and 2135 I think is somewhat problematic. I see a clear difference to 1869, but the definition is rather similar, if not identical.

[2018-03-22 08:24] chrzyki commented on #436
Question: They have 'leave' in possession/change of state/exchange and possession of objects. I take it this is the Russian оставить, what would be good equivalent in Concepticon (if already available)?

[2018-03-22 08:26] LinguList commented on #436
So German "da lassen". We don't have it, I'm afraid...

[2018-03-22 08:34] chrzyki commented on #436
Thanks!

[2018-03-23 10:11] chrzyki commented on #436
@LinguList Have added a couple of comments in the commit in the branch that is going to be PRed when ready. :)

Thanks for your help!

https://github.com/clld/concepticon-data/commit/646aab3bd8758b58d1324f723a60c9fa770c14b6

[2018-03-24 08:48] LinguList opened #459 "Serva-2010-100"
The list is based on estimates for AN and IE languages (Dyen and ABVD, 200 concepts originally, although not clear how to link with Swadesh ?), and they report the most stable 100 items in their data.

* http://iopscience.iop.org/article/10.1088/1742-5468/2010/03/P03015/meta

Eprint on Arxiv is here:

* http://arxiv.org/abs/0912.0821

[code]

[2018-03-26 10:23] chrzyki opened #460 "Tomasello-1992-??? (First Verbs: A Case Study of Early Grammatical Development)"
[code]

Used, for example, in #436.

List(s) begin on page 286ff.

[2018-03-27 05:41] LinguList commented on #459
![petroni-2010-100](https://user-images.githubusercontent.com/2916210/37948838-45af4036-3192-11e8-9f4b-04bcccf199dc.png)

Original list in the text on page 9.

[2018-03-28 06:26] LinguList commented on #436
My next PR will add Russian words. I list here the missing definitions in concepticon that should/could be added:

1. switch on (turn on) (anmachen, also das Licht)
2. switch off (turn off) (ausmachen, also das Licht)
3. leave (something for someone) (im Sinne von "dalassen" oder "übriglassen")
4. move (something): this concept should be added in addition to MOVE, and we should add a relation from

[2018-03-28 06:34] chrzyki commented on #436
Adding to that:
- button (something [up])
- brush (general, we only have brush (teeth))
- pat (touch with hand flat to show affection)
- stick (your finger into something)
- rub (we have rub, they're specifically referring to rubbing something with a liquid?)
- try (clothes on)
- mean (to do something)

[2018-03-28 06:46] LinguList commented on #436
I'd leave those unlinked for the time being. 'pat' is potentially "streicheln", rather important for kiddies, rub is too specific (einreiben), try (clothes on) is not really what it is in the Russian form, mean to do something should be checked against things like "INTEND" and if added, better glossed as INTEND, in case of brush general, brush (teeth) needs to be a) checked for the definition and

[2018-03-28 06:48] chrzyki commented on #436
I see, makes sense. :) Thanks!

[2018-04-09 10:36] Anaphory opened #461 "‘Plant stem’ in ‘Modern World’"
Currently, the concept set PLANT STEM is in the semantic field Modern World.

https://github.com/clld/concepticon-data/blob/master/concepticondata/concepticon.tsv#L2629

I think it should be Agriculture and Vegetation.

[2018-04-09 10:42] LinguList commented on #461
reasonable, can you make this a PR?

[2018-04-09 12:09] Anaphory opened #463 "Deviating concepts for LexiRumah"
The LexiRumah concept list (http://www.model-ling.eu/lexirumah/parameters) has the following concepts in it, for which Concepticon only contains only related concepts.
(There are concepts which are entirely new, but that needs less discussion and is therefore a different issue.)

We have:
 - BATHE (SOMEONE), a transitive conterpart to BATHE [oneself] (138)
 - PLANT YAM and PLANT RICE, which are mo

[2018-04-09 12:31] Anaphory opened #464 "LexiRumah specific concepts."
LexiRumah (http://www.model-ling.eu/lexirumah/parameters) has the following concepts that are absent from Concepticon:

English | Indonesian | Semantic_Field | Comment
-- | -- | -- | --
chew betel | makan sirih | Food and drink |     
rack (for storing food) | para-para | The House | There may be two types, a high one (for e.g. storage) and a lower one; if so, elicit both.   
to squat | jongkok (d

[2018-04-09 12:56] #461 closed

[2018-04-09 13:00] LinguList commented on #463
Here's the typical way to proceed:

- [ ] have your database published (well, you have a version, etc., so we can quote it)
- [ ] prepare a PR for concepticon with the new concepts, the reference (we don't need a doi, but maybe a weblink to each concept, etc.)
- [ ] add missing links to concepticon.tsv
- [ ] add short description to conceptlists.tsv
- [ ] assign @lingulist, @chrzyki, and @tresoldi

[2018-04-11 13:53] Anaphory commented on #463
What do you mean by references for the concepts, what level of scientificness and detail do you want?
Wikipedia links? Where would I put them?

[2018-04-11 13:56] LinguList commented on #463
I mean that I'd like to have a column URL that specifies how I can VIEW the concepts in lexirumah. We have that for ABVD as well, check out the list as Blust-2008-210. Users can then directtly go to lexirumah if they find the concepts interesting. But up to you whether you would like to have this...

[2018-04-11 14:48] Anaphory commented on #463
Ah, excellent. I was hoping that's what you meant, that's easy.

[2018-04-13 15:28] LinguList opened #466 "BOAR 1348 needs cleanup"
The concepts (reflexes) are mixed: some denote boar (wild pig) annd some denote male pig. Needs to be split and refined. We need two concepts with an extra definition and ideally better labels.

[2018-04-17 16:53] Anaphory opened #468 "instanceof relation is strange"
The `instanceof` relation is used in four places, eg. https://github.com/clld/concepticon-data/blob/master/concepticondata/conceptrelations.tsv#L276

However, the concept MID-AUTUMN FESTIVAL is just a very specific sub-concept of FESTIVAL, and the same holds for the other concepts related through `instanceof`, so I think you should either use `narrower` or define those terms.

My naïve understandi

[2018-04-17 17:15] Anaphory opened #469 "Relation for abstractified concepts"
When thinking about that other relation-issue I just submitted, I realized that a lot of other relationships can be probably easily harvested using strong connections to thesauri or other examples of the semantic web, but a particular relation not expressed by those other databases is … let me term it the cultural specification of an abstract cross-cultural concept, or maybe the cultural alternati

[2018-04-18 06:42] tresoldi commented on #468
Indeed, this is one the points to bring up when explaining that there are similarities but Concepticon is not a lexical database like WordNet or a semantic network like BabelNet.

[2018-04-18 07:48] LinguList commented on #468
So what would you propose as alternative, @Anaphory? Feel free to go ahead. You can also delete it. I added it when adding the Chinese festivals. I could've left them out, as you may think this is too special, but in fact the festivals occur in several Chinese questionnaires. We never went through all concepts in toto to search for which relations to add, but rather did it on an ad-hoc basis. I do

[2018-04-18 07:55] LinguList commented on #469
You are more than welcome to add more relations. Note, however, that narrower/broader is used for concepticon mapping as well, where we do a tree search to see whether we find a concept that is broader than another one when doing union and intersection commands.

You can test this by typing:

[code]

if you do:
[code]

you see that we have EXACTLY 207 concepts, thanks to relations set up, as Swade

[2018-04-20 06:35] tresoldi opened #473 "Mapping items previously unmapped when a new concept is added"
When a new concept is added to Concepticon, it would be necessary to look into all unmapped glosses of other concept lists and check if the new concept doesn't cover one or more of such items. Examples are large numbers (which are now more frequent, especially with the inclusion of conceptlists from psychology and not only historical linguistics) and cultural artifacts/events (e.g., when a given f

[2018-04-20 06:37] LinguList commented on #473
Yes, good point. But also a strategy for getting rid of NANs would be useful, i.e., run through all NANs (unlinked glosses) and search for linkable things, etc. This would then be part of our CONTRIBUTING.md where we describe release procedures.

[2018-04-20 06:44] tresoldi opened #474 "Fail on glosses with leading or trailing spaces"
@Anaphory [pointed to the fact](https://github.com/clld/concepticon-data/pull/467#issuecomment-382791407) that there is no checking of eventual leading/trailing spaces in the glosses, which should not be accepted as it is difficult to imagine a case where they'd be needed and as it makes debugging hard when such spaces are accidentally introduced.

The place for running such check (which would ess

[2018-04-20 08:29] LinguList commented on #474
Yes, guess this is just what we need!

[2018-04-20 11:21] Anaphory opened #476 "Relations `narrower` and `instanceof`"
(Followup from #469, #472, which were not well thought-out and showed my lack of understanding what the relations between concepts are for.)

It looks like you have the following four relationships:

1. Item from one word list where another word list felt the need to be semantically more precise, because two concepts co-lexified in the gloss language of the old list are not co-lexified in target l

[2018-04-20 12:33] LinguList commented on #476
ping @xrotwang, as we discussed this a lot in the past, could you maybe explain why we use narrower/broader (based on semantic web stuff, if I remember)? I don't have a particular opinion if this can be done quickly, as long as it doesn't break our tests and keeps our union and intersection commands intact.

[2018-04-20 12:56] xrotwang commented on #476
The "narrower"/"broader" relations come from [SKOS](https://www.w3.org/TR/2009/NOTE-skos-primer-20090818/#sechierarchy) - and since we use SKOS concepts (and collections) to model the data in RDF (see e.g. http://concepticon.clld.org/parameters/2121.rdf), it seemed natural (in the sense of "most hope for being understood") to use these.

[2018-04-20 13:16] Anaphory commented on #476
[From #472]

Formulated differently, my suggestion here is how to address the usefulness of the concept relations inside concepticon – namely, making concept lists comparable – without going full ontology. And therefore,

I agree with this in principle very much, with two notes given below.

I think that's a problem here, because it lead to at least my confusion that you want an ontology and not j

[2018-04-20 14:11] LinguList commented on #476
We have this, however, already described in our paper in full. The paper dates from 2016, and we add this information there, so we can again put this on the website, make it clearer, but we'll always lead to some kind of confusion, and changing the relations in any kind of way will probably then confuse somebody else. Unless I wrongly understand, but if you suggest to rename broader-narrower since

[2018-04-20 14:35] SimonGreenhill opened #478 "Add test for duplicate concepts"
A test for duplicate items in conceptlists would help prevent this [problem](https://github.com/clld/concepticon-data/pull/477)

[2018-04-20 14:38] tresoldi commented on #478
Calling dibs, I can do it over the weekend or at most on Monday (just fixed something similar this morning).

[2018-04-20 14:47] LinguList commented on #478
they are called "mergers", and you can find them listed in concepticon on github: https://github.com/clld/concepticon-data/blob/master/concepticondata/conceptlists/README.md

[2018-04-20 14:47] LinguList commented on #478
we tolerate them, as we also have cases like "arrow 1", and "arrow 2" in cognate sets, where people reconstruct two proto-forms or so.

[2018-04-20 14:49] xrotwang commented on #478
@LinguList That page also still lists 126 concepts - so it seems to be stale. I guess @SimonGreenhill didn't run `concepticon stats` before making the PR. (He possibly didn't even know about this :) )

[2018-04-20 14:50] LinguList commented on #478
yes:

[code]
should fix this, @SimonGreenhill :)

[2018-04-20 14:51] SimonGreenhill commented on #478
No, didn't know about it, but doing it now.

[2018-04-20 14:53] LinguList commented on #478
do we have this documented in our contributing.md ?

[2018-04-20 14:55] LinguList commented on #478
hand-json was what I did last time this occured.

BTW: https://github.com/clld/concepticon-data/blob/master/CONTRIBUTING.md#checklist-for-pull-requests

We mention it on contributing.md, but we probably need some "how I added my first concept list" tutorial @MacyL is working on this with help by @tresoldi, we actually have our seminar on concepticon next week Tuesday 14 pm!

[2018-04-20 14:59] xrotwang commented on #478
A tool that needs a university seminar for introduction sounds scary :)

[2018-04-20 15:01] LinguList commented on #478
it's for newcomers, wouldnt' put that label "university seminar" too high ;)

But we should also be clear that it is not always as straightforward as it seems and that doing these things in some consistent way is by no means something one learns in half an hour by watching a youtube video (at least judging from all PRs I have criticized so far, probably annoying contributors...)

[2018-04-20 15:06] tresoldi commented on #478
BTW, the handout for the session is here: [https://github.com/digling/calc-seminar/blob/master/handouts/Session_3.ipynb](https://github.com/digling/calc-seminar/blob/master/handouts/Session_3.ipynb)

[2018-04-22 08:12] SimonGreenhill commented on #478
Ok, closing this then.

[2018-04-22 08:12] #478 closed

[2018-04-23 11:12] #464 closed

[2018-04-23 11:12] #463 closed

[2018-05-04 16:09] LinguList opened #479 "Perrin-2010-110"
A concept list that lists colexification patterns observed across 24 languages for 110 concepts.

Link here:

* https://journals.dartmouth.edu/cgi-bin/WebObjects/Journals.woa/xmlpage/1/article/353?htmlOnce=yes

[2018-05-04 16:10] LinguList commented on #479
Data is in HTML available, so very easy to parse (even the observed colexifications).

[2018-05-22 11:00] SimonGreenhill commented on #220
These are 1486 words, 3 version (1894, 1904/11, 1931). The lists were all republished in Stokhof 1982, 1983.

A good scan of the wordlist is here:

![image](https://user-images.githubusercontent.com/220169/40358616-240954f8-5dc0-11e8-83e3-a6764e6af862.png)

[2018-05-22 11:47] SimonGreenhill commented on #220
has lots of fun things to define as it was partly designed to make bible translation easier (e.g. 'supreme being', 'virginity', 'prostitution', 'vital spirit', 'filing of teeth')

[2018-06-06 06:10] LinguList opened #482 "Hank-2018-1413: pattern dictionary of english verbs"
This is a great resource:

http://pdev.org.uk/#browse?q=;f=C

They provide exact meaning for all those verbs by invoking context for use-cases. Open question is: do we treat this as "meta-data", do we even want to link to an exact definition for our purpose (is this even possible?).

[2018-06-06 06:10] LinguList commented on #482
This [book chapter](http://langsci-press.org/catalog/view/184/1004/1072-1) by Hank et al. provides some intro.

[2018-06-06 06:16] LinguList opened #483 "FrameNet: provide manual links for high frequency verbs"
I think, this "framenet" project [here](https://framenet2.icsi.berkeley.edu/fnReports/data/luIndex.xml) may provide some useful links, similar to the resource in #482, which also links to FrameNet.

What we need to discuss is: if we treat these as metadata, we should probably not link automatically here, but rather have a subset of our date extracted and refine them manually.

The reason is: autom

[2018-06-06 06:35] xrotwang commented on #482
Since it's language specific, I wouldn't even treat it as metadata. They also don't provide "real" IDs but use the label as ID - so ad-hoc linking will work anyway, and "proper" linking isn't possible anyway.

[2018-06-06 06:37] xrotwang commented on #483
Yes, I'd even go further and say that combining this kind of data with concepticon will always be very study-specific. So the only reason to explicitly link it from concepticon would be to not lose track of it.

[2018-06-06 06:47] LinguList commented on #482
Oh, good and bad at the same time: good, since it means less work for us ;), bad since I though we might have found a resource worth following up (as I like the idea of specifying meanings in contexts with sentence examples).

[2018-06-06 06:51] LinguList commented on #483
What is also possible is to think of some spin-off project that could be done in the future (if human resources are available), where we refine links for selected high-frequency sub-parts of concepticon, and also correct data and the like. Such a project could also provide automatic links to Wordnet (where possible) or to other lexical resources, and also include a refinement of our definitions. T

[2018-06-06 06:52] xrotwang commented on #482
But isn't there a big risk of linking to examples contradicting our simplistic definitions? I guess this will always be an issue when linking stuff with different granularity - and of course in some cases we decided to link nevertheless. Maybe we should assess coverage and accurateness first? So if we can link - say - 80% of all verbs in concepticon with ok accuracy, then do it?

[2018-06-06 06:55] LinguList commented on #482
Well, I think when trying to figure out the meaning we intend for a given verb, especially, like the different ways of "cut" we can find in our concept lists already by now, it may be useful and inspiring to look up resources where people try to define properly. For cut, for example, we have cut (with axe), cut (with scissors), etc., but many of our current "cut" links are potentially wrong. I'm m

[2018-06-06 06:56] LinguList commented on #482
I'd be optimistic that, for example, a verb like "walk" could be easily distinguished more properly than now from "go" by relying on these kind of resources. Even if it's simple inspiration while linking to concepticon and adding new concepts.

[2018-06-06 07:02] xrotwang commented on #482
I see your point, but if we proceed in this way, we'd have to somehow categorize metadata to distinguish "inspirational" from "analysis-ready".

[2018-06-06 08:18] LinguList commented on #482
:) I think, for the time being, this issue should have low priority, but in some future, we may want to think of how to sufficiently enhance the quality of Concepticon along some lines. This would require additional funding, so nothing we can do by now, but having tagged meta-data-lists as this one, or just making some link to the 1400 words, selling them as a normal concept list, as we also did w

[2018-06-08 08:14] LinguList opened #484 "Steinthal-1875-XXXX"
This is a huge questionnaire, historically interesting, but difficult to type (needs to be translated from German, etc.).

The book source is here: https://www.biodiversitylibrary.org/item/121160#page/5/mode/1up

I myself found it from a text by Anthony Grant, where he mentioned it en passant.

[2018-06-12 09:55] LinguList opened #485 "Multiple Refinement Suggestions to Concept Labels, Concept Definitions, and additional Metadata"
Doug Cooper just send around this spreadsheet:

[CRCL Concepticon Metaglosses.xlsx](https://github.com/clld/concepticon-data/files/2093509/CRCL.Concepticon.Metaglosses.xlsx)

It contains many points worth mentioning and worth being addressed, also obvious spelling errors in our definitions. We can subdivide it potentially into different tasks:

* concepticon definitions (no immediate urgency, but

[2018-06-12 11:14] restinplace commented on #485
Hi -- this was not meant for general distribution.  It's not finalized or
documented, and will cause more confusion than it solves.   Please
ignore the spreadsheet / post -- I will re-post when ready.
Thanks, Doug

[2018-06-14 11:15] LinguList opened #486 "Pepper-2018-100: data on binomial lexemes"
* Pepper, Steve. forthc. The typology of binominal lexemes. PhD dissertation, University of Oslo.

This is a dissertation in planning, but we have the data already. Based on WOLD, so easy to link, and worthwile.

[2018-06-25 05:35] Supertyp opened #487 "Janko Gorenc: Numbers in 7836 languages"
Here is a website with a lot of numbers on it, twice as much as Eugene Chan dataset:
https://sites.google.com/site/jankogorenc/home

[2018-06-27 05:50] xrotwang commented on #487
There's actual lexical data only for 82 languages.

[2018-06-27 05:50] #487 closed

[2018-07-02 11:28] MacyL opened #489 "[New Data] Kusunda data by Donohue"
New data is found ( Actually, I used it before).
I have downloaded the data from this website : http://kusunda.linguistics.anu.edu.au/wordlist/
And the task I will is below :
[ ] Check the number of concepts
[ ] Mapp to concepticon and push to concepticon
[ ] Add bibtext file.
[ ] Merge with my current data.

[2018-07-04 11:42] LinguList opened #490 "Nichols-2018-24: Causative test list"
Interesting list, showing pairs like "dead", "kill", "die", etc., which are semantically linked. Good test case for best practice of annotation.

Official form from 2004, but this is the updated version:

* https://www.academia.edu/34318209/Realization_of_the_causative_alternation_Revised_wordlist_and_examples

[2018-07-17 06:35] #479 closed

[2018-07-18 09:40] xrotwang opened #492 "Invalid conceptlist refs in notes"
After adding a check for referenced concept lists (using the `:ref:<clid>` syntax in the notes field) I get:
[code]

[2018-07-18 09:44] LinguList commented on #492
Okay, on it, good to have the test, this is a bit embarassing, I think, but should take me some 5 mins to fix it...

[2018-07-18 09:56] #492 closed

[2018-07-18 10:11] xrotwang commented on #492
I still get
[code]

[2018-07-18 10:56] LinguList commented on #492
STrange, but if the test is not pushed, it is obvious. I thought, that I had changed all those instances.

* Matisoff-2004-210 is Matisoff-1978-200
* Bennet-1976-50: Bennet-1976-50a
* Gudschinksy-1956-200: Gudschinsky-1956-200
* Jakhontov-1991-35: Yakhontov-1991-35
* Wiktionary-2012-207: Wiktionary-2003-207
* Key-2016-1300: Key-2016-1310
* Swadesh-1952: Swadesh-1952-200
* Samarin-1967-208: Samarin

[2018-07-18 11:04] xrotwang commented on #492
I did, see https://github.com/clld/concepticon-data/commit/04d4d923d680ae43520821b8823ea5fc9a741f7d

[2018-07-31 13:04] LinguList opened #493 "word2vec as metadataa for 157 languages"
* https://fasttext.cc/docs/en/crawl-vectors.html

interesting, might be useful...

[2018-08-13 14:21] Schweikhard opened #497 "[Question] Name changes for some concepts"
I'd like to rename some concepts, but since this means renaming them in all linked files I would like to first ask for approval before going ahead with it.
I have in mind the following concepts:

FUR to PELT
GOD to DEITY
CAUSE TO (LET) to CAUSE TO OR PERMIT
VEGETABLE KNIFE to KITCHEN KNIFE
BROKEN to NOT WORKING (and then the concept SHATTERED which I added to BROKEN)

[2018-08-13 14:27] Schweikhard opened #498 "Chinese glosses of Sun 1991 1004 not showing"
For most multilingual concept lists, data of all elicitation languages is listed on Concepticon both on the overview of the list itself
e.g. http://concepticon.clld.org/contributions/Key-2016-1310
and on the pages of concept sets the list is linked to
e.g. http://concepticon.clld.org/parameters/1852

This however is not the case for Sun 1991 1004.
(see http://concepticon.clld.org/contributions/Sun

[2018-08-13 14:33] LinguList commented on #497
Please propose the definitions as well. I am skeptical above PELT, as the FUR is more common, referring to animal hair covering the body of mammals. One lists may need to be linked to a new concept set "pelt", as referring to the fur of an animal used for clothing, although this concept (Pelz in German) is also ambiguous in Russian, etc.

God deity is possible, is the term use as an address? (simi

[2018-08-13 14:37] #498 closed

[2018-08-13 14:38] LinguList commented on #498
"Chinese" was missing in conceptlists.tsv, if you don't name it there, it won't show up.

[2018-08-13 14:39] LinguList commented on #498
see [here](https://github.com/clld/concepticon-data/commit/c1e844a4347b6a3fa25743854893549dd5b3f162) for the diff

[2018-08-13 14:50] Schweikhard commented on #497
FUR currently contains mostly concepts where it's not clear whether their refer to animal body hair or pelt. Some clearly refer to pelt, only one clearly refers to animal body hair. I guess we might best move the clear ones to new subconcepts and leave the ambiguous ones at the current concept.

Deity seems like the more neutral term. Tim pointed out that polytheists might not associate the term g

[2018-08-13 14:53] Schweikhard commented on #498
Thanks. I figured it was something like that but I didn't know which file to edit for it.

[2018-08-13 14:54] Schweikhard opened #499 "Notes in Dellert2017"
I noticed that in the concept list Dellert-2017-1016.tsv there is a column named NOTE which includes notes on things that we might want to update on Concepticon, e.g. new concepts we might want to add.

Adding this as an issue in case anyone wants to take these notes as a starting point for further updates.

[2018-08-13 14:55] LinguList commented on #497
Leave the concepts in fur where it is not clear and add a pelt, if you feel this is needed.

Leave "God" for Leibniz and the ancient lists, as they refer to the western god, and add the deity, where we'd also have to relink Sun etc.

Link to kitchen knife as you proposed.

Rename broken into "broken (not working)", and move concepts accordingly. "not working" itself is not a good concept gloss. th

[2018-08-13 14:56] Schweikhard commented on #497
Okay, will do so!

[2018-08-13 15:05] Schweikhard opened #500 "Problem with sameas and concepticon test"
The concept of legendary creature is redundant as we also have mythical being.
When I add into the conceptrelations.tsv the line

2138 | LEGENDARY CREATURE | sameas | 2641 | MYTHICAL BEING
-- | -- | -- | -- | --

concepticon test tells me that there is a deprecated concept in Chacon 2014. However, that conceptlist is only linked to mythical being and not to legendary creature in my fork, so I don'

[2018-08-13 15:07] LinguList commented on #500
SAMEAS relations will default to the lower ID, so you need to link Chacon ot the smaller ID now.

[2018-08-13 15:08] Schweikhard commented on #500
Oh, good to know. Would it also be possible to simply remove the redundant concept from the list? It's not used by any concept list as far as I see.

[2018-08-13 15:09] LinguList commented on #500
no, look please at our concepticon.tsv, you see that we have an extra column that deprecates a concept, so you have to add the ID of the smaller ID there. No deletion possible.

[2018-08-13 15:12] Schweikhard commented on #500
So it's because we can't skip a number? Then I would just replace that unused number with a new concept. Or I'll just swap the names of the two concepts, then I can at least use the concept name of "mythical being" as that is also the one used by Chacon.

[2018-08-13 15:13] LinguList commented on #500
NOPE. This will prevent backwards compatibility with older versions. We have decided this explicitly, please check the last column in concepticon.tsv to see similar cases for htis.

[2018-08-13 15:15] Schweikhard commented on #500
I understand, didn't think of that. So also renamings should be only done via "same as" and not by editing the name in concepticon.tsv?

[2018-08-13 15:15] LinguList commented on #500
The idea stays the same, so odn't worry too much now about that. But try to add the higher ID to the "REAPLACMENENT_ID" field, for chacon and see if it throws an error.

[2018-08-16 14:28] Schweikhard opened #501 "Collection of concepts that might need some refinement"
Here is a list of concepts where I think the definition needs to be changed a bit or subconcepts be added but where I wasn't sure about how to proceed (e.g. due to ambiguities). Or should I add separate issues for them?

* meeting house http://concepticon.clld.org/parameters/335
What is a meeting house or a traditional house? One explicitly refers to a religious assembly house, the others are with

[2018-08-16 15:30] #497 closed

[2018-08-16 15:32] Schweikhard opened #502 "Reinhard-1970 linked as "Kusunda-1972""
https://concepticon.clld.org/contributions/Reinhard-1970-337
Where can this be corrected?

[2018-08-16 16:37] LinguList commented on #501
What is a meeting house or a traditional house? One explicitly refers to a religious assembly house, the others are without definition.

they are the same concept lists (derived from each other), so they should link to the same entry. So split off the traditional house and leave the meeting house. Traditional house can be left unlinked.

stone https://concepticon.clld.org/parameters/857
stone or r

[2018-08-16 17:19] LinguList commented on #502
annoying thing, these mappings, as we haven't a test for this.The way to go is to add the new ids into "retired.json" here: https://github.com/clld/concepticon-data/blob/master/concepticondata/retired.json, so you change the name, but if you click on an older ID, it will be re-directed. In principle, this should also be done with all name changes, to guarantee backwards compatibility, etc., but we

[2018-08-17 06:02] xrotwang commented on #502
What exactly is the question?
The general idea is to be able to track any ID for any object in concepticon that has ever been assigned. Unfortunately, this info isn't used yet in the web app (see https://github.com/clld/concepticon/issues/32), but in theory a URL like
https://concepticon.clld.org/values/Galicio-2015-100-1
should be redirected appropriately.

So in this case, it seems as if the ind

[2018-08-17 07:02] LinguList commented on #502
Yes!

The bigger problem is probably the renaming of Concepticon Glosses. If we completely change one Concepticon Gloss with a definition and the mapping that is attached to a Concepticon ID, we may easily loose backwards compatibility. On the other hand, I'd also say that, similar to Glottolog, where a language name of a given glottocode may be retired, as it is shown that this assignment was wro

[2018-08-18 15:08] Schweikhard commented on #501
Stone and rock can be used synonymous, and we don't know which meaning each list refers to.

I find CLOSE (EYES) but none for "open one's eye". I'll add a new concept for it, and also for "open" as an adjective in Perrin.

I don't see any other concept of this meaning. Okay, then I'll move those to GO UP (ASCEND) that clearly do not refer to heavenly bodies. For the two lists by Marrison and the o

[2018-08-18 15:24] Schweikhard opened #503 "Spatial concepts"
The concepts that denote the direction or position up and down are a bit tricky and might need some refinement in the future:

up https://concepticon.clld.org/parameters/1591 (upwards?)
above https://concepticon.clld.org/parameters/1741 (position in relation to something else?)
atop https://concepticon.clld.org/parameters/57 (also position in relation to something else?)
up or above https://concep

[2018-08-18 15:26] LinguList commented on #501
1. add twig for dellert is okay, but all other lists should be linked to "branch". If you don't add a hyperconcept, we can't compare them otherwise.

2. Please link all linkings of Lee back. You did only read the Japanese glosses, not the content of the wordlist, and not the paper, or did you? We have Lee's email, you could write him and ask him directly, but since he bases his study on data by Sh

[2018-08-18 15:29] Schweikhard commented on #501
1. I have already added the hyperconcept BRANCH OR TWIG.

2. Okay. Lee is only fur/pelt and squeeze/fasten, no other changes, so that will be easy to undo.

[2018-08-18 15:30] Schweikhard opened #504 "Fireplace, oven etc."
I think we might want to distinguish between a fireplace (i.e. a fire at the bottom of a chimney in a wall), a hearth (i.e. a place for cooking in the mid of a room), a stove (a fire or other kind of heater where things are put onto to heat them) and an oven (something into which put things to heat them). But I'm a bit at a loss which concept lists to link where, how exactly to write the definitio

[2018-08-18 15:32] Schweikhard opened #505 "Definition of "call by name""
call by name https://concepticon.clld.org/parameters/180
includes "to utter the name of sb./sth.", "to be named x" and "to be given the name x".
A split may be in order, but this might warrant some further discussion first.

[2018-08-18 15:36] Schweikhard opened #506 "shout vs. shriek"
I defined SHOUT as "To utter in a loud voice."
But it's actually not clear whether that's what's meant in all cases.
Some entries linked to SHOUT might mean instead SHRIEK, defined as "To make a very high, loud sound.", but there is no completely clear case.
And some of the entries linked to CALL might also rather fit one of the other two.

shout https://concepticon.clld.org/parameters/715
shriek

[2018-09-05 09:57] LinguList opened #509 "Swadesh 100 list as emoji"
* https://www.superlinguo.com/post/177670651002/the-swadesh-100-list-as-emoji

[2018-09-07 12:37] tresoldi commented on #509
As I wrote in email, the list seems to be still under development, given both comments on the blog post and on the related Google Sheet. Also, many of the new suggestions refer to the next Unicode release.

Should we join the discussion? Should we add the list as it is? Should we wait?

[2018-09-09 12:22] LinguList opened #510 "Hays et al. 1974: Color term salience"
https://anthrosource.onlinelibrary.wiley.com/doi/full/10.1525/aa.1972.74.5.02a00050

They list a limited number of some 11 colors, so it seems easy enough to link them to Concepticon (different from the big collections with color chips).

[2018-09-10 08:21] chrzyki opened #512 "Protected branches, DevOps, DataOps & Co."
As @Anaphory mentioned [here](https://github.com/lingpy/lingpy/issues/376) (and @tresoldi and @xrotwang discussed someplace else, I just can't remember where exactly), protecting branches of our workhorse-packages (`pyconcepticon` within and including `concepticon-data`, `pyglottolog`, `lingpy`, etc.) might be something we should pursue further.

- This supports the good practice of submitting cha

[2018-09-10 09:14] xrotwang commented on #512
Yes, I had a discussion about this with @d97hah he felt that imposing this workflow, and not allowing users to choose between fas-track minor changes and full PRs was quite a hindrance. So `clld/glottolog` will not opt into such a scheme now. But I'm open to do this for other packages :)

[2018-09-10 10:16] xrotwang commented on #512
@tresoldi Yes, the branch-protection feature would prevent any direct pushes to the `master` branch. Optionally this can be extended to also require one approving review.

[2018-09-10 11:34] chrzyki commented on #512
Yep, essentially, we're very flexible how much we want to implement and enforce.

@xrotwang I understand that sentiment. For some cases/projects it might just not be a good fit. :)

[2018-09-13 07:23] xrotwang opened #513 "The Glasgow Norms"
Abstract:

Article at [10.3758/s13428-018-1099-3](https://doi.org/10.3758/s13428-018-1099-3)

Data at
https://static-content.springer.com/esm/art%3A10.3758%2Fs13428-018-1099-3/MediaObjects/13428_2018_1099_MOESM2_ESM.csv

[2018-09-17 07:53] chrzyki commented on #512
So, a proposal:

Code repositories get, per default, the following two branches:
- `master`, self-explanatory; branches get merged into this and releases are based on the `master` branch. The master branch is protected.
- `devel`, changes & commits go into this branch, get merged after a positive review. I'm personally a strong proponent of going this route even for minor changes, but this is cert

[2018-09-17 08:31] xrotwang commented on #512
I'm in favor of enforcing PR + review for all (even minor) changes. For most codebases we have more than one core developer, now, so this should be feasible. I don't like the long-lived, shared `devel` branch, though. I'd leave it to each developer's decision, in which branch (and in which fork for that matter) they'd wish to work. With a shared, long-lived branch it is unclear which state it is s

[2018-09-17 08:33] chrzyki commented on #512
Thanks & I agree!

[2018-10-02 16:37] brianave opened #514 "New concepts needed for spring/summer and autumn/winter"
I'm cleaning up an automatically mapped list and I came across the glosses "spring/summer" and "autumn/winter".  HOT SEASON might be OK for "spring/summer" but I'm not sure it's exactly the same, and there isn't anything like "cold season" that could correspond to "autumn/winter."

[2018-10-02 17:04] brianave opened #515 "Missing concept for "pool""

[2018-10-02 17:07] brianave opened #516 "Missing concept for "cypress""

[2018-10-02 17:08] brianave commented on #516
Also "maple"

[2018-10-02 17:10] brianave opened #517 "Missing concept for "sprout" (noun)"

[2018-10-02 17:19] LinguList commented on #514
if you don't find an exact-exact match, leave it open and think of proposing a new concept along with your linked list to our project (you'll be given full credits), just follow the guide-lines and make a PR. Don't go for near-good matches or similar, as this is against our basic principle, rather leave things unlinked (it's anyway unlikely than that you'll find a good gloss for spring/summer in a

[2018-10-02 17:21] LinguList commented on #516
yes, please provide a PR, where you add them along with your concept list. Closing this (and the other htreahds): the order is: you provide a new concept list where "cypress" is, for example, listed, and a new definition, and we review the PR and then it will be added to concepticon...

[2018-10-02 17:21] #516 closed

[2018-10-02 17:22] LinguList commented on #515
see #516 on our update policy

[2018-10-02 17:22] #515 closed

[2018-10-02 17:22] LinguList commented on #517
see #516

[2018-10-02 17:22] #517 closed

[2018-10-02 17:22] #514 closed

[2018-10-05 08:36] chrzyki commented on #512
No immediate urgency for now I take it. Closing this and will revisit later.

[2018-10-05 08:36] #512 closed

[2018-10-09 05:45] LinguList opened #518 "Dellert and Buch 2018: Metadata for concept list rankings"
* https://figshare.com/s/c9cf9057614928909d86

article

*  http://booksandjournals.brillonline.com/content/journals/10.1163/22105832-00802001

The link all of Northeuralex to concepticon, i fact, they provide a complete concepticon dump, but it's not clear which version. I suppose this is best used as metadata.

[2018-10-09 05:46] LinguList commented on #518
A, it raises a new issue for @xrotwang: with metadata like this, we should remind ourselves that we need a reference system and a way to display metadatasets in a similar way to concept lists (also keeping our work on metadata with @chrzyki  in mind).

[2018-10-09 06:28] LinguList commented on #518
Yes, exactly. The idea is: make them citable, but keep them distinct, as metadata is often automatically produced and larger, linking directly to concepticon concept sets, just like this dataset they publish there. @chrzyki has a large dump of potentially interesting resources, but we were too busy to work on other things to get this done, and @tresoldi is also involved. We could target this work

[2018-10-09 06:50] LinguList commented on #518
I just saw that there 100 best concepts qualify as well as a concept list proper.

[2018-10-09 07:03] xrotwang commented on #518
Ah, yes that's a good addition - in particular with our "5 most-similar lists" functionality on the web site.

[2018-10-09 15:00] LinguList opened #519 "frequency counts for different languages form Mahowald paper"
* https://osf.io/2t7v3/

Thanks to Kyle Mahowald, who shared the link (the paper doesn't list it): https://onlinelibrary.wiley.com/doi/full/10.1111/cogs.12689#

The data can be used (I hope) to assess frequency counts for different languages that we have as well in concepticon, so a meta-data search for our glossing languages.

[2018-10-09 15:00] LinguList commented on #519
I add @tresoldi  and @chrzyki  here, as this is our idea on extending concepticon metadata.

[2018-10-10 06:46] xrotwang opened #520 "Lehtinen's WOLD401-500"
s described [here](http://www.ling.helsinki.fi/~jdlehtin/Lehtinen-et-al-2014_Behind-family-trees__Language_Dynamics_and_Change_-libre.pdf):

[2018-10-10 06:50] LinguList commented on #520
super, since they don't mention the data in the text, we have no way but wait until they finally publish the data for this study so that we can double-check this...

[2018-10-15 18:30] LinguList opened #521 "Brysbaert's norm data for the number of words a person knows and acquires during life time"
Appeared online (didn't check before): http://crr.ugent.be/archives/1915

[2018-10-30 23:39] DavidNash1 commented on #371
Capell 1956:85, with his proposed Australian proto-forms, and identification number of Swadesh 200 list (where possible)
[Capell1956.xlsx](https://github.com/clld/concepticon-data/files/2532053/Capell1956.xlsx)

[2018-10-31 06:30] nthieberger commented on #17
I have a correspondence table of several wordlists of Australian languages that I used to show degree of overlap. I'm interested in building it out to include more lists to show how much we can compare earlier sources that were based on these lists.
Nick Thieberger. 2016. Daisy Bates in the digital world. In Austin, Peter K., Harold Koch and Jane Simpson (eds) Language, land and song: Studies in h

[2018-10-31 07:55] LinguList commented on #273
The natural way is to convert to [cldf format](https://www.nature.com/articles/sdata2018205), from where it is rather easy for our team to help in turning this into a clld application (similar to [WOLD](https://wold.clld.org), the World Atlas of language Structures, etc.). If you are interested, @nthieberger, I suggest we pursue the discussion via email, including @xrotwang and some other people f

[2018-10-31 07:58] LinguList commented on #17
Sounds very interesting. By "correspondence table" you mean sound correspondences? Have you by any chance seen our experiments on inferring and annotating correspondence patters? You find a draft [here](https://doi.org/10.1101/434621). It sounds like self-advertising, but the cool thing about this approach is that we can even predictin non-existing cognates in the descendant languages with some de

[2018-10-31 08:05] LinguList commented on #17
Very cool, your paper, @nthieberger, in fact, all the lists you compare there should ideally all be linked to Concepticon, in which case the whole comparison could be done also with other lists. Also interesting to compare the history of evolution here, since these lists, as far as I can see, are not deeply based on Swadesh, right?

[2018-10-31 09:02] nthieberger commented on #17
Right, these all precede Swadesh, by 50 or more years. The correspondences
are simply an alignment of the senses provided in each list so see how much
they have in common. This could be extended to a number of other Australian
lists and would be interesting from a historiographic point of view, seeing
how much was learned about the languages over time and what were
appropriate things to look for i

[2018-11-01 11:09] LinguList opened #523 "Nash-2018-XXXX: new concept lists in a large collection"
https://zenodo.org/record/1476467

We should link the individual lists, but also link the meta-list by David. Important to also list the contributors for this, when doing so, which include David Nash and Nick Thieberger. Before updating this, the links should also be checked back with them both for comments.

[2018-11-01 11:11] LinguList commented on #523
Ideally, @chrzyki, do you think you find time to have a first look at this during the next weeks? Then we can discuss it and see how we divide labor among the calcies etc. As this is also super for other contexts, it is of general interest for the department, I guess.

[2018-11-01 11:21] chrzyki commented on #523
Sure, will do. Will report next week!

[2018-11-01 11:29] LinguList commented on #523
And David, Nick, please indicate if we should officially list anybody else in our CONTRIBUTORS.md.

[2018-11-01 12:20] LinguList commented on #523
Ah, @chrzyki and also check this one here (quote from David):

[2018-11-01 21:12] DavidNash1 commented on #523
On 1/11/18 22:29, Johann-Mattis List wrote:

I've just now added Contributers to https://zenodo.org/record/1476467;
basically harvested from column headings.
David

[2018-11-02 06:39] LinguList opened #524 "Nash-2018-XXXX-b new aligned concept lists"
* https://zenodo.org/record/1476741#.W9ucc3ozbUI

Information for contribution should be retrievable from Zenodo.

[2018-11-02 14:11] xrotwang commented on #273
@nthieberger just looked at the site again, and yes, it would be a good exercise to figure out how much of this data can be captured in CLDF right away. Presumably the link into the scans could be stored using the [IIIF image API](https://iiif.io/api/image/2.1/#region) - maybe using a `valueUrl` on a column.

[2018-11-05 08:06] Conal-Tuohy commented on #273
I'm the main developer on the Bates project.

I've had a rather quick look at the CLDF ontology and I agree it seems fairly straightforwardly compatible with the Bates data model.

If I understand correctly, the CLDF spec uses an RDF data model, but mandates the use of CSV on the Web as the only allowable serialization. So we would need to express the data in CSV form (and possibly also BibTeX for

[2018-11-05 08:57] xrotwang commented on #273
@Conal-Tuohy thanks for this info! Regarding links to the electronic facsimiles: I think I'd add two columns to the forms table:
[code]
and link to a BibTeX record for the facsimile only if this exists in some published form.

So given a value of `39/39-085T.jpg` for the `typedSource` column, we can get to the image at http://staging.bates.org.au/images/39/39-085T.jpg

[2018-11-05 09:00] xrotwang commented on #273
@Conal-Tuohy you don't have pixel-coordinates for the location of words within the facsimile pages, do you?

[2018-11-05 09:06] xrotwang commented on #273
Thanks again @Conal-Tuohy for pointing me to the RDF data. Starting from there, I'll have a go at extracting a concept list suitable for adding to Concepticon. AFAIU, this list would comprise every `skos:Concept` in http://bates.org.au/rdf/bates.xml plus every `skos:Concept` in any of the individual wordlists, which doesn't have an `exactMatch`.

[2018-11-05 09:49] Conal-Tuohy commented on #273
@xrotwang we don't have pixel co-ords for the location of words in the facsimile images, no.

We do have identifiers for the words in the TEI XML though, so we could point directly to the words in the transcript (i.e. in the web pages). That why I'd think it preferable to point to the words as they appear in the web pages rather than to the images.

[2018-11-05 09:53] xrotwang commented on #273
@Conal-Tuohy ok, I see. The image URLs - being hosted on `staging.*` - look like they are not meant to be persistent anyway, right?

[2018-11-05 09:53] Conal-Tuohy commented on #273
Regarding your comment about the "concepticon", @xrotwang, we do also have a task to organise the entire set of concepts into a single thesaurus. So far we've concentrated on the original Bates vocabulary of terms, but @nthieberger has also done some work on semantically aligning terms beyond that scope, though it isn't yet reflected in the RDF dataset and hence in the website.

[2018-11-05 10:07] xrotwang commented on #273
Yes, putting everything (also what seems to be whole sentences) into a single thesaurus looks like a project - I counted 14,300 different `skos:Concept` with either no `skos:exactMatch` or with a `skos:exactMatch` not yet in `bates.xml`.

[2018-11-05 10:12] xrotwang commented on #273
If I restrict the concepts missing in `bates.xml` to ones which are represented in at least 5 wordlists, I'm down to 1217 distinct glosses/labels/ids. Maybe this would be a good starting point for a concepticon list. What do you think @LinguList ?

[2018-11-05 10:23] xrotwang commented on #273
Actually, sticking to the 1829 concepts in [the questionnaire](http://bates.org.au/quest.html) may be the better contribution to Concepticon, since it comes with a bit of documentation.

[2018-11-05 10:35] xrotwang commented on #523
@chrzyki my LibreOffice on Ubuntu cannot read the excel sheet with the data. Hope you have more luck.

[2018-11-05 10:46] chrzyki commented on #523
@LinguList @xrotwang @DavidNash1 Likewise, file can't be opened/repaired with LibreOffice 6.1.2.1. We could repair/open the file with MS Excel, but we probably now have to verify its contents? See attached file.

[various wordlist schemes 20181101_repaired.xlsx](https://github.com/clld/concepticon-data/files/2548036/various.wordlist.schemes.20181101_repaired.xlsx)

[2018-11-05 10:48] xrotwang opened #525 "Expand description of Alpher-and-Nash-1999"
Maybe the description of [Alpher 1999](https://concepticon.clld.org/contributions/Alpher-1999-151) should be expanded to include the [Appendix to Alpher and Nash 1999](http://www.anu.edu.au/linguistics/nash/aust/wl.html):

[2018-11-05 10:51] xrotwang commented on #523
hm. looks broken to me. At least I couldn't make any sense of the - seemingly - mis-aligned last two columns.

[2018-11-05 10:53] LinguList commented on #525
I was annoyed at some point because I failed to track down the older studies  the list is based upon (e.g., Black's list that is not known). But yes, mentioning all this is probably useful.

[2018-11-05 10:54] LinguList commented on #273
Yes, this sounds good!

[2018-11-05 10:55] LinguList commented on #273
We may end up linking only half of it now, but if you can provide a first list with ID and GLOSS, here, we can run the check in automatic concepticon mapping...

[2018-11-05 10:55] xrotwang commented on #273
Ok, I'll pipe this through concept linking, and see where this gets us.

[2018-11-05 10:57] LinguList commented on #273
I'd be happy with > 70%, which could then break down to 50% in the end, which would still be some 1000 or so concepts...

[2018-11-05 10:58] chrzyki opened #526 "Number Concepts"
In preparation for linking the Numerals Concepts, we'd need to have more number concepts in Concepticon (probably in the magnitude of 100-150 additional concepts; I could calculate the exact number if required).

- Would it be 'okay' to plainly add more numerical concepts along the same vein as the existing ones? I could prepare a PR.
- Should we unify the definitions for the existing number conce

[2018-11-05 11:01] LinguList commented on #526
I think it is not hurting, as long as the glosses are chosen in such a way that our current mapping algorithm does not spit "one million and one" etc. if you look for one, but since we only split on comma, this won't happen anyway. But I'd say: a) include in our metadata (we already have it), and b) maybe check links to wikipedia (could be automated), as this may just help us to get a bit more met

[2018-11-05 11:02] LinguList commented on #526
And you could also regularize the number system, e.g., by saying that the diefinition is just:

We don't need more info that that, I'd say.

[2018-11-05 11:06] chrzyki commented on #526
Awesome, thanks for the input!

[2018-11-05 11:06] #526 closed

[2018-11-05 11:17] DavidNash1 commented on #523
I downloaded my 'various wordlist schemes 20181101.xlsx' from https://zenodo.org/record/1476467 and opened it OK with LibreOffice 5.4.7 on my Mac OS 10.13. However yes Excel says that it needs to repair the downloaded file. My own copy (as uploaded) opens fine. So I have asked Zenodo Support to replace the file and sent it to them again.

[2018-11-05 11:18] DavidNash1 commented on #523
Yes the last two columns yes are not aligned with the rest; there is a vertical border setting off those two columns.

[2018-11-05 11:19] xrotwang commented on #273
Ok, here's the output of `concepticon map_concepts`.
[Bates-1904-1829.txt](https://github.com/clld/concepticon-data/files/2548138/Bates-1904-1829.txt)

Whoever has time to check the mappings, feel free to take a stab.

[2018-11-05 11:20] xrotwang commented on #273
Oh, and yes, @LinguList , your ballpark numbers seem about right. 73% now, will come down due to very detailed body parts, etc.

[2018-11-05 11:36] chrzyki commented on #526
:+1: for simple definitions in combination with automated links/metadata to/from Wikipedia, e.g. https://en.wikipedia.org/wiki/16_(number).

[2018-11-05 11:45] xrotwang commented on #526
I guess "The number X." is good, "natural number" would be good as well.

[2018-11-05 12:56] DavidNash1 commented on #523
Zenodo Support has now made the replacement at https://zenodo.org/record/1476467; I've re-downloaded it and it opens fine with LibreOffice 6.0.6.2 on Mac OS 10.13, and also with Excel 16.18.

[2018-11-05 12:57] chrzyki commented on #523
Can confirm, works flawlessly. Thanks for sorting that out so quickly!

[2018-11-05 19:02] nthieberger commented on #273
Some very strange mappings in this list,

This presumably refers to the verb 'to wind' and not to the noun 'wind'
Bates-1904-1829-639 639 Wind (East) #wind-east 1113 WRAP 4

From line 1668 it goes very wrong, with occasional correct mappings (e.g.
14928, 13499)
Bates-1904-1829-859 859 Cut, to, with native hammer
#cut-to-with-native-hammer 203 MARRY 4

On Mon, 5 Nov 2018 at 22:19, Robert Forkel <no

[2018-11-05 19:07] xrotwang commented on #273
@nthieberger yes, as soon as it gets to multi-word glosses, the automatic mapping isn't very useful anymore. For rather unusual lists like this one, the main advantage of the automatic mapping is that it provides you with a syntactically correct concept list - most of the actual mappings require human inspection ...

[2018-11-05 19:18] LinguList commented on #273
Yes, exactly. The algorithm is useful, but we are discussing how to revise it in a principled manner. It takes info from past concepticon mappings, but it is lost in cases where the glosses become idiosyncratic, or have just not been mapped before.

[2018-11-05 19:19] LinguList commented on #273
Yes, exactly. The algorithm is useful, but we are discussing how to revise it in a principled manner. It takes info from past concepticon mappings, but it is lost in cases where the glosses become idiosyncratic, or have just not been mapped before.

[2018-11-05 19:21] LinguList commented on #273
BTW: if you, @nthieberger or @Conal-Tuohy want to look into these mappings: [this](https://render.githubusercontent.com/view/ipynb?commit=c5763b822b226e54a83b696afdd78d5c257b3867&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6469676c696e672f65646963746f722d7475746f7269616c2f633537363362383232623232366535346138336236393661666464373864356332353762333836372f486973746f726

[2018-11-06 18:22] #525 closed

[2018-11-19 12:04] LinguList opened #527 "Walworth-2018-215: Vanuatu Basic Vocabulary list"
https://zenodo.org/record/1491266

[2018-11-20 11:47] chrzyki opened #528 "Marrison-1967-917: Number of concepts, sources"
Heya,

I'm in the process of working through some of the older Lexibank issues and came across [Marrison-1967-917](https://github.com/clld/concepticon-data/blob/master/concepticondata/conceptlists/Marrison-1967-917.tsv). Before I go on lexibankifying that, two questions:

* What was the source for the concept mapping? [This](http://stedt.berkeley.edu/~stedt-cgi/rootcanal.pl/source/GEM-CNL) lists t

[2018-11-29 07:38] Conal-Tuohy commented on #273
I've done a draft mapping to CLDF, available here: http://staging.bates.org.au/cldf/

So far this is a "FormTable" only. I've got a Parameter_ID column but no corresponding ParameterTable just yet.

It's also "metadata-free" still, but I understand I will need metadata in order to meaningfully add a column containing links from each form to the corresponding part of the bates.org website.

For now

[2018-11-30 08:10] xrotwang commented on #273
Looks good as a first step. And as you say, adding a short metadata file would be the next step. This would allow you to refactor the identifier into more readable local IDs, e.g. replace `http%3A%2F%2Fbates.org.au%2Frdf%2F40-042T.xml%23abduct-to` with `40-042T.xml#abduct-to` and keep the URL info as `valueUrl` property in the metadata:
[code]

[2018-11-30 08:12] xrotwang commented on #273
Then, adding in a `ParameterTable` would be nice, because this is where the linking to Concepticon would go in. You probably should be using `pycldf` to cobble together the CLDF dataset. This would allow you to focus on the data, while the metadata would mostly come for free - i.e. be generated by the package appropriately.

[2018-11-30 09:00] Conal-Tuohy commented on #273
Thanks! So, what would `pycldf` do for me that my SPARQL store doesn't?

[2018-11-30 09:11] xrotwang commented on #273
`pycldf` would write the `Wordlist-metadata.json` and do that in a way that is fairly easy to customize, e.g. to add the `valueUrl` property for the `ID` column. But I guess, if you start from examples, e.g. the [metadata for IDS](https://github.com/lexibank/ids/blob/master/cldf/cldf-metadata.json), adding in a handful of custom properties  by hand wouldn't be much of a problem either.

[2018-12-10 18:14] LinguList opened #529 "Veijdemo-2016-167"
This is an intereting list, containing 167 "content words" of Swadesh's list of 200 items, and adding meta-data, age of acquisition, etc.

https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0147924

[2018-12-10 18:15] LinguList commented on #529
Ah: contains the supplement as well, in csv format.

[2018-12-13 14:28] natalia-morozova opened #530 "Swadesh-1964-215: Russian translation list"
Dear all,

While going through the Russian translation list of Swadesh's list of 215 concepts, I have noticed several typos.

Here's the link to the list:
[https://concepticon.clld.org/contributions/Swadesh-1964-215](url)

The typos I've found:

ID                                   | LANGUAGE | INCORRECT  => CORRECT
Swadesh-1964-215-1     (English)         *alle => *all
Swadesh-1964-215-47   (Russ

[2018-12-13 14:54] LinguList commented on #530
Thanks, can you change them in the document? The typos are typical for some German typing fast a phonetic keyboard for Russian (i.e., me), so very glad if you correct them.

[2018-12-14 13:39] #530 closed

[2018-12-14 13:41] LinguList commented on #530
Very good, just for the next time, I'd suggest that you make a PR (@chrzyki will tell you what this is), so we can quickly have a look at the changes. But I just looked at them, and of course they are all fine. A problem can only appear if the changes break the code (what was not the case here), so these should run through our check and be reviewed by our little community...

[2018-12-14 13:42] LinguList commented on #530
BTW: there are more Russian lists, and some may also need checking, as it was usually me who typed them off (but be aware that some pre-date the 1900+-x spelling reform, so the writing is different).

[2018-12-14 13:50] chrzyki commented on #530
The not-PR or rather editing the files directly is on me, sorry. :) Told @natalia-morozova that this ok this once until we've got her computer completely rather (still waiting on software, ugh) and she can do PRs properly.

[2018-12-14 13:51] LinguList commented on #530
No problem, this is perfectly fine then, and I support your decision, was just worried that the distinction between editing directly and PR is not clear, so glad to see you already thought of this.

[2018-12-14 14:03] natalia-morozova commented on #530
Sorry, didn't know that, thanks for the information!

I also wanted to ask you about the reference information. I am working on another Russian translation list from the same source (Новое в Лингвистике. Выпуск 1), so I have noticed that the actual date of publication was 1960 (https://classes.ru/grammar/148.new-in-linguistics-1/source/worddocuments/1.htm). Is there a reason why the date of public

[2018-12-14 14:06] LinguList commented on #530
So the date I gave for Swadesh in the version is also wrong? Yes, just checked also [here](http://www.philology.ru/linguistics1/swadesh-60.htm). So we have to modify this.

[2018-12-14 14:07] LinguList opened #531 "Swadesh-1964-215: modify date"
The date should be 1960. This needs to be done with a backward-compatibility, by adding a javascript file with changes. @chrzyki, do you know how to do this? If not, leave open until I have time.

[2018-12-14 14:08] LinguList commented on #530
See #531, as this is not trivial to change, but use the corrected date, please in new lists to be added.

[2018-12-14 14:08] LinguList commented on #530
No need to apologize, @chrzyki was right in asking you to directly change this time.

[2018-12-14 14:09] chrzyki commented on #531
Yeah I can do that. I would also like to do that together with @natalia-morozova on Monday. Is it okay if we let it sit until then?

[2018-12-14 14:09] LinguList commented on #530
Ah, @natalia-morozova: to avoid typing, you may look for the books in this website phylology.ru, I mentioned above. They have a digitized version.

[2018-12-14 14:09] LinguList commented on #531
Sure, this is not urgent, I'd say.

[2019-01-09 11:13] chrzyki commented on #528
Clarified in personal communication, thanks @LinguList. (For reference: The discrepancy is not really a discrepancy since the additional concepts come from other components of the list.)

[2019-01-09 11:13] #528 closed

[2019-01-25 12:11] LinguList commented on #486
We better wait with this, until the PhD is done, so removing milestone.

[2019-01-25 12:13] LinguList commented on #443
So before releasing, this should be looked for. I'm also inviting @Schweikhard to help here. But no hurry now, we discuss this during the next week's group meeting.

[2019-01-25 12:17] LinguList commented on #436
Adding @laiyunfan to help here later, as this is probably important for study of causative or similar in ST.

[2019-01-25 12:28] xrotwang opened #532 "Marrison-1967-XXX"

[2019-01-25 12:30] xrotwang opened #533 "Yang-2XXX-XXX"

[2019-01-25 12:48] xrotwang opened #534 "Hale-1973-9XX"

[2019-01-25 12:54] xrotwang opened #535 "Castro-201X-5XX"

[2019-02-02 09:47] xrotwang commented on #532
Already there: https://github.com/clld/concepticon-data/blob/master/concepticondata/conceptlists/Marrison-1967-917.tsv

[2019-02-02 09:47] #532 closed

[2019-02-02 09:50] xrotwang commented on #448
Moved to an issue for the clld app: https://github.com/clld/concepticon/issues/33

[2019-02-02 09:50] #448 closed

[2019-02-02 10:19] xrotwang commented on #408
Attached is a file I created by
- calling `Concepticon.lookup` on each label of a <NA> concept
- limiting the results to the first match with similarity score of 1 or 2.

[notlinked.txt](https://github.com/clld/concepticon-data/files/2824290/notlinked.txt)

Will include this code in `pyconcepticon`.

[2019-02-02 12:33] LinguList commented on #408
I didn't say that they need to be completely included, but I did say they should be stored and shown somewhere, so other people can help and work on the potential errors, and submit them. At least this aspect was the one I deem important. So far, we share lists in github issues in txt format, or as excel, we don't have a workflow from raw data to mapped list, and this is not good, as it means, I h

[2019-02-02 12:36] LinguList commented on #408
In fact, this is probably not hte righ tissue, to discuss, I was mainly concerned with our [unliked lists](https://github.com/clld/concepticon-data/tree/master/unlinked).

[2019-02-02 12:36] tresoldi commented on #408
So you mean like in a development branch? That would actually be nice, but we should have checks in place to make sure we don't unintentionally release it.

[2019-02-02 12:45] LinguList commented on #408
simpler: move unlinked lists to a new repository, I'd not want to fiddle with branches, but having a place to store unlinked lists would be usefu.

[2019-02-02 12:51] xrotwang commented on #408
Oh yes! Now that pyconcepticon is in its own repository and can work on any concepticon-data-like repos, moving unlinked and experimental lists to a dev repos would be easy. Although, considering that the core data like concepticon.tsv would need to be merged every once in a while, a branch may be a better idea. But then, branches prove to be a quite high barrier to entry for newcomers. So, I'd op

[2019-02-02 12:53] LinguList commented on #408
Yes, and in this repos, we can have a folder per concept lists, including potentially also the PDF, the bibtex, etc. The unlinked list and the linked list. This would avoid sharing excel files we receive at times from people inside github issues only. And if a new list comes in, we could add it there, etc.

[2019-02-02 12:56] xrotwang commented on #408
And then a `concepticon move` command to move a finished list to the main repos?

[2019-02-02 12:58] tresoldi commented on #408
Yes! A new repository sounds good, also considering that `concepticon-dev` itself might end up with branches, which would make everything too complex.

[2019-02-02 13:02] xrotwang commented on #408
I wouldn't want to have a different directory layout in `concepticon-dev`, though. So no "a folder per concept list", but PDFs go into `sources`, refernces go into the BibTeX file. This way we can re-use the consistence check for `concepticon-data` as progress check for the dev repos.

[2019-02-02 13:07] LinguList commented on #408
Yes, good idea. The only problem is where to put xlsx files and the like, which should not be on one person's computer. We may need to add another folder for that? Or place it in sources, as a spreadsheet is as well a source of a concept list?

[2019-02-02 13:14] tresoldi commented on #408
I'd go for placing in sources.

[2019-02-02 14:22] xrotwang commented on #408
Still, `sources` seems the best option. I'd say by the end of the dev workflow - i.e. when the list is ready to be moved to the main repos - there may only be a pointer in the list description or notes relating the list to the source sheet.

[2019-02-04 08:16] xrotwang commented on #408
will move scaffolding and `unlinked` over to `concepticon-dev` today.

[2019-02-04 14:20] #329 closed

[2019-02-04 14:24] xrotwang commented on #408
So regarding the 150 not-linked concepts above: Should I have a go and create a PR and someone else can review and merge?

[2019-02-04 14:52] LinguList commented on #408
I'd rather have two people look at the list independently, then checking the differences, and then making the PR, and I'd review this. Some things are tricky, in this automatic merge, which need to be double-checked. @tresoldi and @chrzyki, could you quickly go through the list and exclude those cases where you are not fine (or replace them by better values)? This will be more efficient than a PR,

[2019-02-04 15:09] xrotwang commented on #408
Ah, sorry. Only read the last comment now. As far as I can tell, I only addressed rather clear-cut cases, though. So I think no time has been wasted yet :)

[2019-02-04 15:22] LinguList commented on #408
No problem, I'd say: @chrzyki  and @tresoldi start with their review, I'll be last, once they have gone through it.

[2019-02-04 19:52] MacyL commented on #489
Got it, will work on it as soon as possible.

[2019-02-05 16:16] chrzyki opened #537 "Ardila-2007-40 mappings shifted"
There is a systematic shift in the concept mappings, see for example EYE/LUNA; this continues throughout the list: https://github.com/clld/concepticon-data/blob/master/concepticondata/conceptlists/Ardila-2007-40.tsv

The original data (https://www.sciencedirect.com/science/article/pii/S088761770700011X) and their supplementary table looks correct.

[2019-02-06 08:23] #408 closed

[2019-02-06 08:36] chrzyki commented on #537
See #538.

[2019-02-06 09:56] #537 closed

[2019-02-06 11:43] xrotwang commented on #535
https://github.com/clld/concepticon-data/pull/538/commits/dd1afca57cc673a19d66ae3e497cb25aa8317ba9

[2019-02-06 11:43] #535 closed

[2019-02-06 11:51] xrotwang commented on #390
Moved https://github.com/concepticon/pyconcepticon/issues/2

[2019-02-06 11:51] #390 closed

[2019-02-06 11:56] xrotwang commented on #422
Moved https://github.com/concepticon/pyconcepticon/issues/3

[2019-02-06 11:56] #422 closed

[2019-02-06 11:59] xrotwang commented on #396
Is this still planned for https://github.com/clld/concepticon-data/milestone/4 ?

[2019-02-06 12:00] LinguList commented on #396
ping @tresoldi  on this...

[2019-02-06 13:16] xrotwang commented on #304
@LinguList How should we name these lists? `DIACL-2017-XXXa` - `DIACL-2017-XXXl`?

[2019-02-06 13:18] xrotwang commented on #304
Or `Carling-2017-XXXa` - `l`?

[2019-02-06 13:26] LinguList commented on #304
Our current practice is using Author-Year-NumberListSuffix with ListSuffix=a, b, c, if numbers are identical, otherwise, without.

[2019-02-06 13:30] xrotwang commented on #304
Ok, so in this case, we are dealing with the following sublists:
[code]
i.e. 87 and 97 item lists appear multiple times, thus would get a suffix, the others not. Giving all of them a suffix would appear more natural, I guess.

[2019-02-06 13:32] LinguList commented on #304
Yes. In fact: the suffix can ALWAYS be added, I have just not done so in the past, if the item number was different, so you can also just add them. Code won't break.

[2019-02-07 09:01] Schweikhard commented on #443
Not sure but I think all the lists here refer to pointed (sharp/spitz): https://concepticon.clld.org/parameters/372
Only exception would be Buck who refers to the noun point/Spitze.
Which other meaning should pointed have? Punctured?

[2019-02-07 10:35] LinguList commented on #443
Maybe your right. I think I never used the word in English, so it surprised me.

But there are missing concepts:

- https://concepticon.clld.org/values/Sun-1991-1004-806

And this one is wrong:

- https://concepticon.clld.org/values/Bulakh-2013-870-116

And for these, we could add another concept, "point (of weapon)":

- https://concepticon.clld.org/values/Bowern-2012-644-401
- https://concepticon

[2019-02-07 10:40] Schweikhard commented on #443
I see - didn't look for missing concepts.
My suggestion would be to add Sun to the existing concept of pointed (and rephrase the definition maybe)
and to add a new concept that refers to the noun meaning Spitze (no matter whether of weapon or not, so not only Bowern and Kusunda but also Buck and Bulakh would be included). We could call it point (pointed end).

[2019-02-07 10:45] LinguList commented on #443
I assign this to you, @Schweikhard. Thanks in advance!

[2019-02-07 11:46] Schweikhard commented on #443
Okay! Btw, which repository is the one I should use now? This, or concepticon-dev?

[2019-02-07 11:48] LinguList commented on #443
clld/concepticon-data, as this is not a new list.

[2019-02-07 11:55] chrzyki opened #539 "New Concepts from DiACL/Carling (2017)"
* [FLYING SQUIRREL/Gleithörnchen](https://en.wikipedia.org/wiki/Flying_squirrel)
* PEARL
* [SNARE (TRAP)](https://en.wikipedia.org/wiki/Trapping#Snares)
* [JEW'S HARP](https://en.wikipedia.org/wiki/Jew%27s_harp)
* SNOW OR ICE
* MONSOON SEASON
* IRON OR METAL
* PEARL
* LEATHER OR HIDE

[2019-02-07 12:22] chrzyki commented on #539
Will track the potentially new concepts with `*` glosses and gather all of them at a later stage.

[2019-02-07 12:22] #539 closed

[2019-02-07 14:11] Schweikhard commented on #443
Done!

[2019-02-07 14:11] #443 closed

[2019-02-07 14:13] LinguList commented on #443
NIce, but please leet me review next time, okay?

[2019-02-07 14:21] LinguList commented on #443
Already saw it, it's okay!

[2019-02-20 14:35] tresoldi commented on #396
It depends on how deep we want changes for the 1.3 milestone, and how much time we have. I still think it is worth doing this review, possibly along with others, perhaps also by citing standard reference biblio on the matter, but it might be necessary to push if forward in the roadmap (in particular, is the 1.3 milestone a requirement/dependency for the data science paper?).

It is worth mentionin

[2019-02-20 14:37] tresoldi commented on #474
This does not apply anymore, and the code has been moved to https://github.com/concepticon/pyconcepticon

[2019-02-20 14:37] #474 closed

[2019-02-25 14:54] tresoldi opened #542 "Repository of neurolinguistic works -- potential source for new concept lists"
Neurosynth.org is an "official as it gets" directory of neurolinguistic works, also allowing some rudimentary and automatic meta-analysis. The list of works on lexical topics would be particularly interesting for us: http://neurosynth.org/analyses/terms/lexical/

It is worth checking and making sure that interesting concept lists are added as individual issues here (some are already in line). Of p

[2019-03-07 11:45] LinguList opened #549 "wrong linking in He's list"
https://concepticon.clld.org/values/He-2010-207-166

should be linked to the "earth-ball".

[2019-03-07 11:45] LinguList commented on #549
EARTH WET SUBSTANCE is also identical with EARTH SOIL

[2019-03-11 15:24] tresoldi commented on #519
Pinging @Schweikhard

[2019-03-13 10:14] Schweikhard opened #550 "PLAIT/BRAID/WEAVE"
The concept 1729 PLAIT OR BRAID OR WEAVE is currently not used as a hyponym entry although it looks like one.

Some related entries:
WEAVE is about creating a cloth by interlacing threads.
PLAIT is a noun, the result of making intentional folds in cloth, also called a pleat.
BRAID is a noun, the result of braiding hair (or of braiding together threads, strings etc.).

None of the entries on 1729 w

[2019-03-13 10:27] Schweikhard opened #551 "SPIRIT/GHOST/SOUL"
The concept SPIRIT contains several different meanings that should be rather linked to GHOST, SOUL or DEITY. In 2 cases, even two entries of the same concept list are linked to it.

Currently its definition is very close to that of SOUL. It could be instead used for disembodied beings that are not dead humans/ghosts but are also not deities, or for a more specific concept as in Buck's "spirit (gua

[2019-03-13 11:03] LinguList commented on #551
What does marrison give as elicitation gloss?

[2019-03-13 11:57] Schweikhard commented on #551
spirit.

[2019-03-13 13:32] LinguList commented on #551
I think it's "ghost".

[2019-03-13 14:24] Schweikhard commented on #551
I asked Yunfan, and he said in Marrison's Burmish data it seems to be used in the meaning of DEITY (albeit possibly rather spiritual entity less powerful than a deity).
So I suppose in the Ao Naga Marrison uses that elicitation for the same concept.

[2019-03-14 07:14] tresoldi commented on #550
As per our oral discussion, I agree with that.

[2019-03-15 13:05] LinguList opened #552 "EARTH WET SUBSTANCE is identical with EARTH SOIL"
Or what is the difference?

[2019-03-15 13:32] Schweikhard commented on #550
Updated the linkings and added the missing concepts.
Linked Borin to the same as Key etc., though, as its definition is really difficult to understand:
to weave or plait/braid: "make by braiding or interlacing; &quot;lace a tablecloth&quot;"
and as it's supposed to be based on Key.

[2019-03-15 13:32] #550 closed

[2019-03-15 14:24] Schweikhard commented on #551
Updated most linked to SPIRIT.
Дух can mean either SOUL or SPIRIT I suppose?
And is an ancestor spirit a GHOST or a SPIRIT, or neither?
I'm also struggling with the definition of SPIRIT - is a GHOST a kind of spirit or not?

Also, only one of the Marrison lists is in the folder, where do I find the other one?

[2019-03-18 09:39] natalia-morozova opened #553 "Incorrect mappings, ontological categories, and a typo"
I have noticed some issues while working with Concepticon, hopefully, it will be helpful:

- Incorrect mapping:

|  CONCEPTLIST  |  ID  |  CONCEPT  |  GLOSS  |  CORRECT MAPPING  |
| ----- | ----- | ----- | ----- | ----- |
| [Buck 1949 1108](https://concepticon.clld.org/contributions/Buck-1949-1108)  | [Buck-1949-1108-514](https://concepticon.clld.org/values/Buck-1949-1108-514) | 294 TUMPLINE | bec

[2019-03-18 09:40] Schweikhard opened #554 "COUNT"
By the current definition ("To enumerate the digits of one's numeral system."), COUNT only refers to 'enumerate', not to 'determine the number of'.
I would repurpose this entry as a hyperonym of the two meanings and move those lists which specify the meaning to new hyponyms COUNT (ENUMERATE) and COUNT (AMOUNT) and add another new hyperonym CALCULATE OR COUNT to account for Bulakh.

However, I am n

[2019-03-18 09:52] LinguList commented on #553
This is okay, as all other languages are unspecified, and the general list was based on English, so leaving it unspecified is better, keeping in mind that the Russian gloss is incorrect, rather than our mapping.

As to the other issues: I agree with all of them. @chrzyki, it seems straightforward to include them, so could you maybe show @natalia-morozova how to make a pr here, or do it yourself?

[2019-03-18 10:05] LinguList commented on #553
Ah, @chrzyki  is still sick. @natalia-morozova, do you know how to make a PR? If not, you could ask @Schweikhard, that he helps you, and you do that together?

[2019-03-18 10:09] natalia-morozova commented on #553
Sure, I will ask Nathanael to explain to me how to do it.

[2019-03-18 13:34] Schweikhard opened #555 "CHOP, BRING DOWN, FELL (A TREE)"
I've done some corrections to CHOP and related concepts.
Its definition is now "To chop wood, or to chop meat, vegetables etc. into small pieces."
Therefore it's a hyperonym to CUT (WITH AXE) and CHOP (INTO PIECES) as that fits best the Borin/Haspelmath/Key/List-cluster, and almost all other entries have been moved to existing concepts.

I don't know where to move Kraft's entry for chop, though, a

[2019-03-18 13:43] Schweikhard opened #556 "Definitions of HIT/BEAT/STRIKE, their hyperonym, and POUND"
Those 3 concepts and their hyperonym could likely need some better definitions but I'm very unsure how to distinguish/define them:
https://concepticon.clld.org/parameters/1433
https://concepticon.clld.org/parameters/1665
https://concepticon.clld.org/parameters/353
https://concepticon.clld.org/parameters/2133

Additionally, BEAT is also a hyponym of POUND
https://concepticon.clld.org/parameters/354

[2019-03-18 14:30] Schweikhard commented on #503
Added atop to the list above - it seems to be used in the same meaning as above.
We could repurpose it to mean on (which might be what the one entry linked to it means).

[2019-03-18 14:41] LinguList commented on #555
then go for cut with axe for Kraft, ignore "fell a tree".

[2019-03-18 14:43] LinguList commented on #555
Cut down could be identical with "fell a tree". I think "fell" is less common in English now. Marrison' has a merger here, this should also be checked. Don't we have Chinese entries for Marrison, @MacyL ?

[2019-03-18 14:44] SimonGreenhill commented on #509
Probably not a high priority, and given that it's not an official publication, how about we close this until it's either finished or published?

[2019-03-18 14:44] #509 closed

[2019-03-18 15:14] Schweikhard commented on #552
I would guess in Wheeler2015, the former is MUD, the latter is EARTH (SOIL).
地球 in He2010 would be EARTH (SOIL) I assume?

[2019-03-18 15:20] Schweikhard commented on #555
Is there a merger in Marrison? It's twice on FELL (A TREE) because those are different concept lists by Marrison (albeit only one of them is in concepticon-data), and it's not on CUT DOWN.

[2019-03-18 16:06] LinguList commented on #552
He is "Erdkugel" ...

[2019-03-18 16:08] Schweikhard commented on #552
Then it should be linked to GLOBE?
https://concepticon.clld.org/parameters/2588

[2019-03-19 08:11] tresoldi commented on #555
I am in favor of merging FEEL (A TREE) and BRING DOWN.

CUT (WITH AXE) could maybe be renamed CUT (HEW), in order to be less culture-specific (e.g., when the original glosses don't use "axe", but a word for some variety of axe) and to focus on the action and not the instrument.

[2019-03-19 08:16] tresoldi commented on #556
Just as an idea:

HIT - To forcefully or suddenly contacting one thing with another.
BEAT - To hit or strike repeatedly, usually in some sort of rhythm.
STRIKE - To hit against with a sharp blow or to impel, usually with a hand or weapon.
STRIKE OR BEAT - To hit or strike, either repeatedly or a single time.

[2019-03-19 08:31] Schweikhard commented on #556
POUND seems to be: To crush rice using a giant mortar and pestle: https://gobackpacking.com/learning-to-pound-rice-in-the-philippines/
The few concepts linked to it that instead mean "pound with fists" could be linked either to STRIKE or to a new hyponym of that.

As the difference between HIT and STRIKE is kinda one of agency, how about:
HIT - To be forcefully or suddenly contacting, e.g. a tree

[2019-03-19 12:55] tresoldi opened #558 "Definition of THAT"
Concept `THAT` (78) is currently defined as "Demonstrative pronoun *(feminine, singular)*: the indicated thing is implied, since it is previously mentioned. Collocation: that of; to that of." (my emphasis).

This should be changed to just

As we don't have other demonstrative pronouns and, especially, as most concept lists and languages linked to this concept are not distinguishing in terms of gen

[2019-03-19 13:02] tresoldi opened #559 "OKRA missing a definition"
`OKRA` (1737) is currently missing a definition; a suggestion is:

[2019-03-19 13:04] #559 closed

[2019-03-19 13:04] #558 closed

[2019-03-19 13:04] #556 closed

[2019-03-19 13:17] tresoldi opened #561 "Definition of MEMBER"
`MEMBER` (2424) is currently defined as "Part of a team."

A better definition would be (considering the concept list it is found and potential future entries):

[2019-03-19 13:26] #561 closed

[2019-03-29 12:08] Schweikhard opened #565 "WASH"
The definition of WASH is transitive, but at least some lists linked to it are either reflexive ("washing one's hands") or unspecified.
https://concepticon.clld.org/parameters/1453

[2019-03-29 13:15] Schweikhard opened #566 "PADDLE/OAR"
The definition of OAR needs to be made more precise, and the lists linked to PADDLE need to be checked for accurate linking.
There is now a hyponym.

[2019-03-29 14:15] Schweikhard opened #567 "RIVER"
There is a new concept FLOWING BODY OF WATER, which is a hyperonym to RIVER (large river) and STREAM (small river).
Some lists linked to RIVER may need to be moved to the hyperonym.
https://concepticon.clld.org/parameters/666

[2019-04-01 11:40] chrzyki opened #568 "Unlinked concepts & release preparations"
We've got the following 120 unlinked concepts in the to-be released data right now. Might be fruitful to revisit those before release.

| #   | Concept list              | Gloss     |
|-----|---------------------------|-----------|
| 1   | BeijingDaxue-1964-905-259 | courtyard |
| 2   | BeijingDaxue-1964-905-265 | desk      |
| 3   | BeijingDaxue-1964-905-268 | box       |
| 4   | BeijingDaxue-196

[2019-04-01 14:36] Schweikhard opened #569 "HOW MUCH"
We have currently both HOW MANY and HOW MUCH.
https://concepticon.clld.org/parameters/822
https://concepticon.clld.org/parameters/531
The latter seems redundant. Most of what is linked to it better fits MUCH, the rest could be linked to HOW MANY, except for Haspelmath/Key/List which differentiate between the two. I would therefore unlink those 3 from HOW MUCH, move the others to the appropriate co

[2019-04-01 18:29] #503 closed

[2019-04-03 09:31] SimonGreenhill commented on #292
I think this can be closed.

[2019-04-03 09:31] #292 closed

[2019-04-03 10:14] xrotwang commented on #568
@Schweikhard @LinguList @SimonGreenhill any takers? I think most of these have been not linked for a while - and @chrzyki thinks what the API proposes is wrong in most cases.

[2019-04-03 10:17] SimonGreenhill commented on #568
I think a lot of these are more specific terms that aren't in concepticon e.g. Bromley-111-39 is "I heard" (not "I" -- is this splitting on space?) e.g. https://github.com/clld/concepticon-data/blob/master/concepticondata/conceptlists/Bromley-1967-111.tsv#L40

[2019-04-03 10:22] xrotwang commented on #568
I remember I had a first pass through these when I implemented the `notlinked` command. So I'd be ok with leaving all of them as they are now for 2.0 as well.

[2019-04-03 10:23] #553 closed

[2019-04-03 10:30] SimonGreenhill commented on #568
added a few more in [Z'graggen](https://github.com/clld/concepticon-data/commit/9971e661fccc0cfc7d5dd8a8ee7ac82837f86bf9). Would be good to get someone to go through all the pronouns in the datasets at some point (we're missing lots of duals and plurals)

[2019-04-03 10:34] SimonGreenhill commented on #112
website is dead.

[2019-04-03 10:35] SimonGreenhill commented on #553
great work @natalia-morozova !

[2019-04-03 11:05] Schweikhard commented on #568
I have the impression much in this list is either intentionally unlinked or would necessitate the adding of new concepts (some quite reasonable, though, like HELP (NOUN)). Some also point to potential mislinkings of other lists.

Seems like a good idea to go through the whole list still. I could take care of all except the Chinese ones (BeijingDaxue and Sun I think).

[2019-04-03 12:26] natalia-morozova opened #572 "Typos: Yakhontov 1991 and Starostin 1991, 2007, and 2010"
I have noticed some typos in Russian, so I checked the [source paper](http://starling.rinet.ru/Texts/Starostin_AP.pdf) and did not find those typos there.

Since the lists by Yakhontov and Starostin are connected, the typos are consistent throughout all the lists. Please have a look:
[Yakhontov 1991 100](https://concepticon.clld.org/contributions/Yakhontov-1991-100)

| CONCEPTLIST | ID | ENGLISH |

[2019-04-03 13:20] Schweikhard opened #579 "RISE"
RISE (MOVE UPWARDS) currently refers to heavenly bodies rising from below the horizon.
It also contains some lists that instead refer to moving upwards in general (which is lacking a concept), or to a hyperonym of that and RISE (ONESELF).

Then there is also GO UP (which is basically used as to walk uphill or upstairs but is a hyperonym of CLIMB)
and
GO UP OR RISE (ONESELF)
both of which should be

[2019-04-03 13:45] Schweikhard opened #580 "BAD/EVIL"
I changed the definition of EVIL from "Intending to harm" to "Intending to harm or being/acting ethically wrong." but some things linked might be moved to new hyponyms of either meaning.
BAD also contains some mislinkings or unclear cases.

[2019-04-03 15:01] Schweikhard commented on #568
So, went through all of the list above, except for Beijing and Sun (Chinese) and Kibrik (Russian). Only fixed what didn't necessitate new concepts.

[2019-04-03 18:03] #572 closed

[2019-04-04 05:18] LinguList commented on #112
long live MSN!

[2019-04-04 05:18] #112 closed

[2019-04-04 06:10] chrzyki commented on #568
Thank you!

[2019-04-04 09:02] LinguList opened #583 "DatSemShifts new version online"
http://datsemshift.ru/

[2019-04-04 15:03] chrzyki opened #586 "Links outdated http://language.psy.auckland.ac.nz/bantu/"
See here: https://concepticon.clld.org/values/TeilDautrey-2008-430-35

Need to be updated to https://abvd.shh.mpg.de/bantu/word.php?v=35 etc. Might be an issue for other lists as well.

Coincidentally, 'beer banana' might be my favourite concept of the day.

[2019-04-04 17:45] SimonGreenhill commented on #586
Anything on language.psy.auckland.ac.nz/* has gone to abvd.shh.mpg.de/*

[2019-04-04 18:06] chrzyki commented on #586
Closed in #588.

[2019-04-04 18:06] #586 closed

[2019-04-05 06:51] #534 closed

[2019-04-05 06:51] LinguList commented on #531
Where are we on this?

[2019-04-05 06:53] LinguList commented on #533
with yang lalo, this is done now.

[2019-04-05 06:53] #533 closed

[2019-04-05 07:23] SimonGreenhill commented on #184
Might be worth trying something like https://nameparser.readthedocs.io/ ?

[2019-04-05 07:28] Schweikhard commented on #367
Also group (13.192) is missing (it is currently also mentioned in the field of grow)

[2019-04-05 09:24] xrotwang commented on #502
I think the issue about the IDs has been resolved. The issue about changing glosses of concept sets as well - at least theoretically. As discussed with @LinguList , recycling of conceptset IDs **must not** happen. So if a concept set turns out to be inappropriate for whatever reason, we'll retire the ID - and never reassign it again.

[2019-04-05 09:24] #502 closed

[2019-04-05 09:27] xrotwang commented on #369
So is this going to be list 240?

[2019-04-05 09:29] #568 closed

[2019-04-05 09:36] Schweikhard commented on #442
BELOW OR UNDER is under/unter (i.e. beneath something else) and LOW is below/unten (i.e. close to the ground). I fixed the mapping in Dellert along with the other spatial concepts.

[2019-04-05 09:36] #442 closed

[2019-04-05 09:40] Schweikhard commented on #393
The transitivity pairs mentioned are implemented by now. Many more are still missing but that would be a separate (new) issue.

[2019-04-05 09:40] #393 closed

[2019-04-05 09:41] LinguList commented on #184
cool, the major problem we have, however, are Chinese names, and I assume, they are not covered?

[2019-04-05 09:44] SimonGreenhill commented on #184
No, only English :/

[2019-04-05 09:44] Schweikhard commented on #191
We have those concepts. The mappings might need to be checked, though.

[2019-04-05 09:46] xrotwang commented on #184
I'm working on this right now.

[2019-04-05 09:51] Schweikhard commented on #549
So EARTH (WET SUBSTANCE) should be retired?
Its ID is higher than that of EARTH (SOIL), can I still put the latter's ID into the former's last column to retire it?

[2019-04-05 09:51] LinguList commented on #369
I'd keep it out, for the time being, but I will add the list by Mary on Vanuatu as list 240, will anyway come in handy, right?

[2019-04-05 09:53] LinguList commented on #549
Earth wet substance is higher than earth soil, so if you add earth soil's ID to the last column, you'll retire it. The other way would go against the practice.

[2019-04-05 09:56] Schweikhard commented on #549
Thanks - should I also mark it as sameas in conceprelations, or is that redundant?

[2019-04-05 10:12] Schweikhard commented on #441
I'll open an issue for transitivity in general.

[2019-04-05 10:12] #441 closed

[2019-04-05 10:17] Schweikhard commented on #203
I think this is done.
https://concepticon.clld.org/parameters/990

[2019-04-05 10:19] Schweikhard commented on #565
I'll include this issue in a larger one on intransitivity instead.

[2019-04-05 10:19] #565 closed

[2019-04-05 10:23] Schweikhard opened #593 "Transitivity"
There are many concepts that could need transitive or intransitive counterparts or hyponyms.
This is especially relevant for the new concept list World Atlas of Transitivity Pairs mentioned here https://github.com/clld/concepticon-data/issues/427
Many transitivity pairs can also be found in Kibrik, as mentioned here https://github.com/clld/concepticon-data/issues/436

Here we can collect further o

[2019-04-05 11:00] xrotwang commented on #184
Hm. Turns out our `Bennet, P.R.` is actually [`Bennett, Patrick R.`](http://worldcat.org/identities/lccn-n87130600/). Change the relevant identifiers of lists and concepts?

[2019-04-05 11:01] LinguList commented on #184
I guess we'll have to...

[2019-04-05 11:20] #440 closed

[2019-04-05 11:20] #552 closed

[2019-04-05 11:22] xrotwang opened #595 "Rename concept lists from Bennett"
The three concept lists attributed to Patrick Bennett have the wrong last name in the ID: It's `Bennett`, not `Bennet`.

[2019-04-05 11:23] xrotwang commented on #595
@LinguList we should probably roll this into 2.0, right?

[2019-04-05 11:23] LinguList commented on #549
I think it's redundant, we started with sameas, and later added the alias, to retire concepts, so it won't be needed.

[2019-04-05 11:24] LinguList commented on #595
Yes, I'm afraid. Later, we may forget about it, and get reluctanct of doing it. Today, everybody is in "Aufräumstimmung". Any takers on this?

[2019-04-05 11:24] #184 closed

[2019-04-05 11:28] xrotwang commented on #595
I'll do it.

[2019-04-05 11:39] #549 closed

[2019-04-05 12:26] #527 closed

[2019-04-05 12:33] #595 closed

[2019-04-05 12:35] #531 closed

[2019-04-05 12:59] tresoldi commented on #367
We could add both items at the bottom, as `ID`s `Buck-1949-1110-1109` and `Buck-1949-1110-1110`. If someone needs the list in the order of the printed reference, they can sort by the `NUMBER` column.

The alternative (if we can have letters after the number in `ID`) is to change the `ID`s, so that `Buck-1949-1108-163` (bone) becomes `Buck-1949-1110-163a`, with "rib" as `Buck-1949-1110-163b`, and s

[2019-04-05 13:01] Schweikhard commented on #191
In List2016 it says 躱 to hide (conceal).
The Chinese points to HIDE (ONESELF), the English to HIDE (SOMETHING).
Which is more reliably here?

[2019-04-05 13:03] xrotwang commented on #367
I think the first option (add at end) is preferable, because it wouldn't mean retiring otherwise acceptable concept IDs.

[2019-04-05 13:08] #203 closed

[2019-04-05 13:12] LinguList commented on #191
The list is originally in Chinese, and the translation and concepticon linking was made by myself. It is supposed to be directly derived from cihui, so the English entry should be in sync with Cihui (Beijing Daxue 905), and this follows hide (oneself).

[2019-04-05 13:54] #191 closed

[2019-04-08 08:53] natalia-morozova commented on #377
I would like to prepare the lists and link them to Concepticon (would be also good for me to practice with proposing new concepts).

[2019-04-08 08:57] LinguList commented on #377
Excellent! Go ahead, this is a nice contribution for us!

[2019-04-08 09:30] xrotwang opened #600 "The wikipedia metadata links ivalid ID 3242 to crossbow"
The correct concepticon ID appears to be 3193.

[2019-04-10 07:06] xrotwang opened #601 "IE-CoR 170 item list"
See https://iecor.clld.org/
Should be a sublist of [Heggarty-2017-200](https://concepticon.clld.org/contributions/Heggarty-2017-200).

[2019-04-10 07:07] xrotwang commented on #601
@Bibiko once this list is added here, the iecor lexibank dataset should use the concept list from concepticon.

[2019-04-15 05:32] nthieberger commented on #17
OK, so what will be involved to get these lists aligned? Can I get someone
here to go through and link to existing concepts, and then what about new
ones?
What is the mechanism for doing this?

Nick

On Wed, 31 Oct 2018 at 20:02, Nick Thieberger <thien@unimelb.edu.au> wrote:

[2019-04-15 05:43] LinguList commented on #17
The basic format is a spreadsheet per list of some number (for internal numbering) and the English gloss:

[code]

This should render the source. Then, we need the bibliography in bibtex format, a statement of two to three sentences explaining the list, and that's basically all.

We would then automatically pre-link the data:

[code]

And then this is being corrected. See [here](https://calc.hypot

[2019-04-15 06:45] xrotwang commented on #17
@nthieberger I think the spreadsheet you used for your comparison in the linked article should be enough to get us started. If you could send this my way, I could prepare the basic skeleton for a Concepticon contribution.

[2019-04-15 07:06] nthieberger commented on #17
OK, here's the spreadsheet.
It includes four lists, Sutton & Walsh (S&W), Bates 1904, Curr , Capell
wordlist

S&W is
Sutton, Peter, & Michael Walsh. 1979. Revised Linguistic Fieldwork Manual
for Australia. AIAS New Series no.8. Canberra: Australian Institute of
Aboriginal Studies.

Bates is the questionnaire she devised and sent out in 1904 (
http://bates.org.au/quest.html)

Curr is from:  The Aus

[2019-04-15 07:23] xrotwang commented on #17
@nthieberger attaching excel to github issues does not work, AFAICT. Maybe it'd be best to send via email.

[2019-04-15 10:15] xrotwang commented on #17
Note: Sutton and Walsh is https://catalogue.nla.gov.au/Record/2893467

[2019-04-15 10:31] xrotwang commented on #17
@nthieberger as a first pass, I tried to extract just the Sutton & Walsh list from the excel sheet. It seems the list has identifiers which are concatenated from `S&W id` and `S&W codes`, right? There are quite a few cases, though, where only one gloss is given for a number of these identifiers. E.g. `Elasmobranchii` has IDs `58K` through `82K`. This seems to happen mostly for biological cover ter

[2019-04-15 10:34] xrotwang commented on #17
I also couldn't make much sense of the `S&W codes`. Do these codes provide a useful categorization of the concepts, or are they merely the letters of an arbitrary alphanumeric identifier?

[2019-04-15 23:58] nthieberger commented on #17
You can probably just discard the codes as they are internal to the
wordlist?

On Mon, 15 Apr 2019 at 20:34, Robert Forkel <notifications@github.com>
wrote:

[2019-04-17 12:37] natalia-morozova opened #602 "New concepts for Anikin et al."
New concepts of sounds and emotions for #377. Please let me know if I should change any definitions!

| CONCEPT | DEFINITION | SEMANTIC FIELD | ONTOLOGICAL CATEGORY |
| ------------- | ------------- | ------------- | ------------- |
| CHUCKLE | A quiet, soft form of laugh produced in order to suppress one's emotional reaction. | Speech and language | Person/Thing |
| GIGGLE | An act of laughing in

[2019-04-18 09:42] natalia-morozova opened #603 "Issues with typos, IDs, and mapping in Pallas 1786 and 1789"
There are some issues with the lists by Pallas. I have a few things to report.

1. Pallas 1786 441

- IDs in Pallas 1786 441 start with [Pallas-441-2](https://concepticon.clld.org/values/Pallas-1786-441-2) instead of **Pallas-441-1**, thus, the last ID is [Pallas-441-442](https://concepticon.clld.org/values/Pallas-1786-441-442) instead of 441.

- Some entries were mixed up in the process of digita

[2019-04-18 10:24] LinguList commented on #603
Nice catch. The data was typed by me in a rush, and it is possible I did not check it more thoroughly later. Can you make a PR correcting for these cases?

[2019-04-18 10:44] natalia-morozova commented on #603
Sure, will be done soon!

[2019-04-26 05:42] LinguList opened #605 "Pereira Words: 180 concepts for brain studies"
https://www.nature.com/articles/s41467-018-03068-4

This study is potentially interesting, with their words, as they claim that these concepts are useful for neurological studies, and could thus be interesting for our norm data ideas.

[2019-04-26 05:43] LinguList commented on #605
![image](https://media.springernature.com/m685/springer-static/image/art%3A10.1038%2Fs41467-018-03068-4/MediaObjects/41467_2018_3068_Fig1_HTML.jpg)

[2019-04-26 05:48] LinguList commented on #605
And [here](https://github.com/beinborn/SemanticDrift) they make experiments with the words, using embeddings.

[2019-04-26 06:02] LinguList opened #606 "MUSE norm data for bilingual dictionaries for 110 languages"
https://github.com/facebookresearch/MUSE#ground-truth-bilingual-dictionaries

These are potentially interesting, as we could try to expand our concepticon norm data, or use them for the norm data studies.

[2019-04-26 07:42] #603 closed

[2019-05-07 10:16] Alexei-Kassian opened #607 "concept KNOW"
Concepticon has three neighboring concepts:
- KNOW (SOMETHING) [https://concepticon.clld.org/parameters/1410
](https://concepticon.clld.org/parameters/1410)
- KNOW OR BE ABLE [https://concepticon.clld.org/parameters/2238](https://concepticon.clld.org/parameters/2238)
- KNOW (SOMEBODY) [https://concepticon.clld.org/parameters/2248](https://concepticon.clld.org/parameters/2248)

My personal and gene

[2019-05-07 11:47] LinguList commented on #607
Where do we find "your" knows? Is it one of the lists we already have in concepticon, or not?

[2019-05-07 16:50] Alexei-Kassian commented on #607
This lexical opposition between KNOW THAT vs. KNOW OR BE ACQUAINTED WITH SOMETHING is mentioned as the most common one in [Kassian 2010 116](https://concepticon.clld.org/contributions/Kassian-2010-116). Specifications in Kassian 2010 116 require KNOW THAT as a Swadesh item, whereas KNOW OR BE ACQUAINTED WITH SOMETHING and other related KNOW-words are recommended to be noted in comments.

[2019-06-06 03:24] DavidNash1 opened #608 "Uni Melbourne RUIL Australian '50 Words' project"
See http://50words.online/, under construction; as announced in April at http://www.paradisec.org.au/blog/2019/04/50-words-of-australian-languages-project/ There are 7 languages represented so far. The standard 'wordlist' (concept list) used is linked from https://go.coedl.net/50WordsProject

[2019-06-12 12:15] LinguList opened #609 "Kirschbaum-1935-XXXX: Questionnaire for New Guinea"
![IMG-20190610-WA0009](https://user-images.githubusercontent.com/2916210/59350445-5ec3c600-8d1c-11e9-8631-f4d8879e1eda.jpg)

It's not easy to get this, and probably difficult to digitize, but mention it here for completeness.

[2019-06-17 14:10] tresoldi opened #610 "Nimuendaju-1939"
Curt Nimuendajú published a number of wordlist for Brazilian Native languages, with German and Portuguese glosses. One of the most stable ones seems to be the list used for Masakari in 1939, later reused for other languages:

http://etnolinguistica.wdfiles.com/local--files/artigo%3Aaraujo-1996/araujo_1996_masakari.pdf

It is worth adding it to Concepticon, as there is an going project to scan the

[2019-06-18 08:47] chrzyki commented on #529
Giving this to @kristina-pianykh as an easierish introductory list (I need to get a better grasp of the Muna-Buton stuff myself). This should be a quick and easy one (given the CSV supplementary) and also pushes us further towards finally getting started with the norm data idea. ;)

[2019-06-18 10:49] chrzyki opened #611 "HTML entity quotes"
We've got a lot of HTML entity like `&quot;` in the conceptlist master, e.g. https://github.com/concepticon/concepticon-data/blob/master/concepticondata/conceptlists.tsv#L143. They appear to have been added (probably due to LibreOffice/Excel behaviour?) throughout a couple of PRs in the past. Do we keep them or do we clean that up?

[2019-06-18 11:35] LinguList commented on #611
you can clean it up, but we had different problems, as this list was at times using " as a cell separator, so one had to actually unquote it, etc., so it is probably advisable to replace it by «» or similar, not directly ".

[2019-06-18 11:39] chrzyki opened #612 "Update CONTRIBUTING.md"
More a note to myself/will take care of this:

- Update https://github.com/concepticon/concepticon-data/blob/master/CONTRIBUTING.md to reflect recent `pyconcepticon` changes, the `--repos` argument, etc.

[2019-06-19 05:42] chrzyki commented on #611
Thanks, will think about a good solution for this.

[2019-06-21 12:26] chrzyki opened #614 "Special characters in Bowern-2011-204 glosses"
In https://github.com/concepticon/concepticon-data/blob/master/concepticondata/conceptlists/Bowern-2011-204.tsv there are multiple glosses preceded with either `*` or `$` - does this have any special meaning?

Unlike for other lists (e.g. https://github.com/concepticon/concepticon-data/blob/master/concepticondata/conceptlists/Gregersen-1976-217.tsv and https://github.com/concepticon/concepticon-da

[2019-06-21 12:53] natalia-morozova commented on #614
I just had a look at the source document. The asterisked entries are from Swadesh-1955-100, and the ones marked with $ are from Swadesh-1952-200.

[2019-06-21 12:56] chrzyki commented on #614
Thanks! That should be added then to the description as well I think?

On 21 Jun 2019 14:53, natalia-morozova <notifications@github.com> wrote:

I just had a look at the source document. The asterisked entries are from Swadesh-1955-100, and the ones marked with $ are from Swadesh-1952-200.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<ht

[2019-06-21 12:58] LinguList commented on #614
Yes, this could be done. I was probably too lazy to indicate it when preparing the document.

[2019-06-21 13:05] natalia-morozova commented on #614
I can take care of it.

[2019-06-22 07:58] #614 closed

[2019-06-26 11:21] Kristina-Pianykh commented on #460
I've had a look at the text and it's not quite clear if I should work with the appendix only (starting from page 286) as it also includes phrases and constructions. There are also quite a few tables with words and their morphological forms throughout the text (e.g., page 83, 111, 143, among others). Besides, the list of object labels on page 41 includes some proper names.

The question is then: wh

[2019-06-26 17:03] LinguList commented on #460
I don't have the text, could you share it via email or owncloud? Otherwise, I can't comment here.

[2019-06-28 13:39] Kristina-Pianykh commented on #428
I've just figured that this list has already been mapped to [Lexibank](https://github.com/lexibank/lieberherrkhobwa/blob/master/etc/concepts.csv). The question is whether it has to be mapped to Concepticon as well? It also looks like all the target lexical items on this list are represented in the IPA format.

[2019-06-28 14:43] LinguList commented on #428
Nope, this is pending, but it was something that should be done with a paper we have to submit, so if you go ahead, this is cool. And less work, take the lexibank mappings and add the rest. @chrzyki and @tresoldi make sure to look into including this in our update for the MIT chapter.

[2019-06-28 14:44] LinguList commented on #428
And if you include this, don't forget to thank @Kristina-Pianykh for her help in the acknowledgments.

[2019-07-01 14:13] xrotwang commented on #608
Just to note this somewhere: It's actually a list of 57 concepts.

[2019-07-03 16:06] Kristina-Pianykh commented on #428
I have made all the necessary modifications to submit the list with the lexibank mappings but when I ran the concepticon test code in the command line, it returned the following errors:

1. the ARM OR HAND concept set on the list is assigned CONCEPTICON ID 212 (which is in fact mapped to FIELD on Concepticon whereas ARM OR HAND are mapped to 2121);
2. _smoke_ is mapped to the concept set SMOKE, wh

[2019-07-03 20:11] LinguList commented on #428
Ohoh, I wonder who did do that concept mapping in lexibank wihtout paying attention here. In any case, both @chrzyki and @tresoldi are first authors on our paper and should make sure that the lexibank dataset is now accordingly corrected, and also check your PR, if you submit hte list to concepticon.

[2019-07-03 21:13] chrzyki commented on #428
Thanks @Kristina-Pianykh, will look at this!

[2019-07-04 05:24] chrzyki commented on #428
(Will happily address and correct the problem, just wanted to note that this dataset is not included in our CLICS3 collection.)

[2019-07-04 06:17] LinguList commented on #428
yes, but it's important for the MIT paper, right? We didn't do it by then, but should include it now...

[2019-07-04 06:18] chrzyki commented on #428
Correct! Think so too.

[2019-07-10 14:02] Kristina-Pianykh opened #618 "Overlapping between concepts"
This issue has already been touched upon in #501. Specifically, I found out that the definitions of [DECEIVE 3230](https://concepticon.clld.org/parameters/3230) and [BETRAY 1902](https://concepticon.clld.org/parameters/1902) are completely identical:

I would suggest we distinguish them since _betray_ is more associated with violation of trust (and thus has to do with relationships) whereas _decei

[2019-07-10 14:05] LinguList commented on #618
Yes, this seems correct. Could you suggest definitions for both? YOu may look at sources like collings dictionary online, which was recommended to us?

This will require to re-check all concept mappings involving the two. In cases where Chinese glosses are available, these should also be checked along. You could ask @MacyL for help here.

[2019-07-10 15:00] Kristina-Pianykh commented on #618
My suggestion would be:

Betray – to harm someone or hurt their feelings by violating their trust or being disloyal to them

Deceive – to trick someone by making them believe something that is not true or by acting in a dishonest way, usually in order to take advantage of it

[2019-07-10 16:26] chrzyki commented on #457
@Kristina-Pianykh, would you mind having a look at this and see whether this persists/is an issue at all? Thanks!

[2019-07-11 10:58] Kristina-Pianykh commented on #457
@chrzyki I clearly see the difference between the three ([BUY](https://concepticon.clld.org/parameters/1869), [TRADE](https://concepticon.clld.org/parameters/898) and [TRADE OR BARTER](https://concepticon.clld.org/parameters/2135), moreover, there is yet another related concept [BARTER 370](https://concepticon.clld.org/parameters/370):

Since there are clearly concepts in some languages, general f

[2019-07-11 11:01] Kristina-Pianykh commented on #457
Another thing is that  _buy_ in [Zgraggen 1980 380](https://concepticon.clld.org/contributions/Zgraggen-1980-380) is mapped to TRADE OR BARTER while it should probably be remapped to BUY

[2019-07-11 11:21] LinguList opened #619 "speech norms: acquistion trajectories of 400 words"
https://www.mitpressjournals.org/doi/full/10.1162/opmi_a_00026

thanks to @SimonGreenhill

[2019-07-11 11:33] LinguList commented on #457
Okay, so any errors you spot here, @Kristina-Pianykh, modify them and make a PR, this is very useful!

[2019-07-11 11:51] Kristina-Pianykh commented on #457
@LinguList shall I also modify the definition of the concept BUY, as has been suggested?

[2019-07-11 13:36] LinguList commented on #619
apparently no real supplementary data, @SimonGreenhill, did you see it somewhere?

[2019-07-11 13:37] LinguList commented on #619
Ah, here: https://github.com/mikabr/aoa-prediction

[2019-07-11 13:40] LinguList commented on #619
Okay, but where's the actual list of 400 words with their ratings?

[2019-07-11 14:39] SimonGreenhill commented on #619
hmm, I saw the git repos, and assumed it would be there. Maybe they dont distribute it?

[2019-07-11 15:09] LinguList commented on #619
guess one justt needs to search for it in the rdata files, but I realized taht this would take longer, so will ignore it for the time being, but we need to get at some poitn back to our norm data collections, tthis is again a perfect case why psychology would actually need something like concepticon to organize their normdata...

[2019-07-12 02:27] SimonGreenhill commented on #619
normicon :)

[2019-07-18 07:36] LinguList opened #621 "fix vs. repair"
fix and repair are badly resolved for now. We can follow the idea of distinguishing "fix (a cloth)" vs. fix (a bike), as some languages distinguish those. (German: flicken vs. reparieren)

[2019-07-22 15:14] LinguList opened #624 "database of semantic shifts again online"
* datsemshift.ru/

In fact, it may be time to do another comparison, link what can be linked, either as meta-data or as a concept list.

[2019-07-25 07:13] #624 closed

[2019-07-25 07:14] #551 closed

[2019-07-25 07:15] LinguList commented on #499
I'd say we should delete the notes from dellert's list. We have now also the possibility to automatically re-run matches and see what we get. We might want to do that before bigger releases or ones in a while.

[2019-07-25 07:34] xrotwang opened #628 "Missing concept label in Bodt-2019-664"
There's a basically empty entry in this list:
https://github.com/concepticon/concepticon-data/blob/master/concepticondata/conceptlists/Bodt-2019-664.tsv#L97

Do we want to keep it like this?

[2019-07-25 07:46] LinguList commented on #628
Yes. Tim will have to figure out later what that was. And the list was published in this form, so we should stay true with that, right?

[2019-07-25 07:48] #611 closed

[2019-07-25 07:52] xrotwang commented on #628
ok

[2019-07-25 07:52] #628 closed

[2019-07-25 08:00] xrotwang commented on #499
As far as I can tell, keeping these notes wouldn't hurt either. They seem to be generic enough to not be confused with what should go into GitHub issues. So I'd say ignoring rather than deleting will do.

[2019-07-25 08:01] #499 closed

[2019-07-25 08:02] LinguList commented on #499
Okay, I was just realizing, that we had before quite a few lists where people would leave things like the similarity score, which don't make sense, as they are just for linking, and I'd like to have this a bit cleaner, so that people are aware that this is published. But yes, the notes here don't hurt.

[2019-07-25 08:55] SimonGreenhill commented on #510
(what an interesting paper -- I was reading it so thought I'd add it!)

[2019-07-26 12:16] #510 closed

[2019-07-29 14:51] Schweikhard opened #631 "New potential concept-relations"
As has recently been brought up, it might be worthwhile to discuss whether we want to include any new concept-relations, and which ones those would be.

The main benefits I see in these concept relations are
* making the database more easy to use as one then sees more clearly which similar concepts are there besides the concept one is looking at, facilitating the mapping of new concept lists and t

[2019-07-29 15:32] LinguList commented on #631
Yes, this looks like it can be done. When adding parts, it is just important to leave the current broader-narrower thing inside. But you will also find in the concepticon-data package a list of relations, that we have pre-defined. I would suggsest that you start by adding them to our metadata json file, similar to our tags, with a definition for each. When adding them later, this should not really

[2019-07-30 15:25] Schweikhard commented on #631
I edited the json file accordingly and pushed it to my fork:
https://github.com/Schweikhard/concepticon-data-1/blob/master/concepticondata/concepticon.json
There seems to be some mistake, though, because Github marks it as wrong and because concepticon test says
"ERROR:conceptlists.tsv:1: Expecting ',' delimiter: line 245 column 5 (char 6581)" for all 251 rows.
Not sure what I'm overlooking.

[2019-07-30 16:11] LinguList commented on #631
https://github.com/concepticon/concepticon-data/issues/631?email_source=notifications&email_token=AAWH64UOZGESJLN4EDC2LJ3QCBMNDA5CNFSM4IHTIJQKYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOD3ELAFQ#issuecomment-516468758

remove the final commas, in Python, you can do that, but this is not a valid json format.

so instead of
[code]
write
[code]

[2019-07-30 16:46] SimonGreenhill commented on #631
(That one gets me every time too)

[2019-07-31 09:10] Schweikhard commented on #631
I see, thanks! It seems like this wasn't the only problem, though.

[2019-07-31 10:01] LinguList commented on #631
Please provide the error code, ideally run the tests locally, okay? I think you may also find a good program to check json files online, or you use a good text editor that highlights syntax. You ARE using one, right?

[2019-07-31 10:10] Schweikhard commented on #631
Figured it out, needed to replace the square brackets with curlies even though I don't see why.
It was still the same error code I provided above. I use Notepad++.

[2019-07-31 10:26] LinguList commented on #631
It's because you use key-value pairs, you see? Lists are only for items that are listed, but once you have a key, you need to provide it. So does it work now?

[2019-07-31 11:11] Schweikhard commented on #631
Yes, all integrity tests passed.

[2019-08-08 11:16] chrzyki commented on #304
That's all done & taken care of, correct? See this PR: https://github.com/concepticon/concepticon-data/pull/564.

[2019-08-09 10:26] Schweikhard commented on #631
Before I'm adding more entries into conceptrelations.tsv I would like to ask whether there are any potential kinds of conceptrelations covered by narrower which are not simultaneous also handled by either instanceof or haspart.
Also, I am wondering about the difference between marking x as narrower than y, and y as broader than x.

[2019-08-15 09:25] xrotwang opened #639 "Age of acquisition of 299 words in seven languages"
https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0220611

There's actually data for 32 languages in the [supplementary material](https://doi.org/10.1371/journal.pone.0220611.s001).

[2019-08-15 09:42] chrzyki commented on #639
Very cool. Releated to https://concepticon.clld.org/contributions/Luniewska-2016-299.

[2019-08-15 11:48] natalia-morozova commented on #377
I would be ready to push this list today! Could you please specify which data I need in addition to the names of sounds and emotions? There are several tables in the attached supplementary material file:

-  Table A1. Names of sounds and emotions in English, Swedish and Russian: consistency and clustering.

-  Table A2. The contexts in which sounds in each category were emitted.

-  Table A3. The

[2019-08-15 12:51] LinguList commented on #639
I think this is almost the same. Any takers for mapping this? The major part of the work is just checking with the predecessor, maybe it's even the same data, and they just expanded the list? I mean 299 words is just the same number, and last time, they had 25 languages.

[2019-08-15 12:56] chrzyki commented on #639
As far as I can tell it is basically the 2016 list expanded with 7 languages (American English, Czech, Gaelic, Lebanese Arabic, Malay, Persian, and Western Armenian).

[2019-08-15 12:58] LinguList commented on #639
Excellent, even easier to map then.

[2019-08-15 13:02] chrzyki commented on #639
I will take care of this tomorrow.

[2019-08-15 13:13] xrotwang commented on #639
@LinguList how should we handle this? Add a new list, I guess, but only with the new languages - or the whole thing?

[2019-08-15 13:14] LinguList commented on #639
They may have changed the data also. I'd say: add new list with all, just to be sure, as we cannot be sure they just expanded it and never corrected things in between.

[2019-08-15 13:54] xrotwang commented on #639
I agree. If going only for the new languages, I would have recommended to check the remainder of the data for identity.

[2019-08-16 10:26] chrzyki commented on #639
Questions: Since [this list](https://doi.org/10.1371/journal.pone.0220611.s002) is an official supplement as well (and it only contains the 'new' languages and lexemes and AoA data), couldn't this be used instead of having all the 2016 data doubled + 7 new languages?

[2019-08-16 11:17] LinguList commented on #639
I prefer to have them doubled, unless you can show that they are 100% identical.

It's also more convenient: you take the new list, and have them all. No merging for users needed, etc.

[2019-08-16 12:24] chrzyki commented on #639
Okay, I'll add it as it is then, i.e. the whole list with all 32 languages. The AOA data are *basically* identical. Why basically? Well, for the old 2016 publication [precision was two decimals](https://static-content.springer.com/esm/art%3A10.3758%2Fs13428-015-0636-6/MediaObjects/13428_2015_636_MOESM1_ESM.pdf), after comma. In the supplementary table precision seems to be higher (e.g. Swedish _to

[2019-08-18 07:07] LinguList commented on #639
I'd say: be as literal as possible here. Given that it's already given in electronic form...

[2019-08-20 05:09] chrzyki commented on #639
Done in #641.

[2019-08-20 05:09] #639 closed

[2019-08-20 16:31] LinguList opened #644 "Semantic Domains by Sil: SemDom"
http://semdom.org/ (just pointed to this by Anna Luisa Daigneault, should be thanked for this, if we add this).

[2019-08-22 10:25] chrzyki commented on #109
Added: https://concepticon.clld.org/contributions/Robinson-2012-398

Close?

[2019-08-22 10:31] chrzyki commented on #225
Concept lists added in: https://github.com/concepticon/concepticon-data/commit/a39b2d3ff5438e42d4a89794e189945726e2e0fa

Lexibank dataset WIP here: https://github.com/lexibank/backstromnorthernpakistan

Close?

[2019-08-22 11:37] #225 closed

[2019-08-22 11:38] #109 closed

[2019-08-25 08:21] LinguList commented on #50
The data is also in comparalex: http://comparalex.org/?page=stdlist&id=13
As we're working towards linking more to reflex, we may consider to finally add this large list. @chrzyki and @Kristina-Pianykh, do you think you could have a first look into that? The list is in (concepticon-dev](https://github.com/concepticon/concepticon-dev/blob/master/concepticondata/conceptlists/Snider-2004-1700.tsv).

[2019-08-25 08:37] xrotwang commented on #50
As companion task, the three word lists which are mapped to this concept
list on comparalex could be provided as lexibank dataset.

Johann-Mattis List <notifications@github.com> schrieb am So., 25. Aug.
2019, 10:21:

[2019-08-26 10:55] chrzyki commented on #50
@Kristina-Pianykh and I will have a look at this; the wordlist as well.

[2019-09-02 15:04] Kristina-Pianykh commented on #50
@LinguList I have prepared this list, should I push it to the Concepticon repo or simply add it to the other RefLex lists in Google Docs?

I have also created new concepts for the entries that have at least one corresponding item, unmapped on Concepticon. If I follow this strategy, there will be over 100 new concept sets (followed by respective changes in many other lists with unmapped entries).

[2019-09-02 16:13] Kristina-Pianykh commented on #50
Here's the link to the [Google Docs](https://docs.google.com/spreadsheets/d/10VrKzLbB65kSm7JYT4S7uJLqNR1jJZ6sESGECApMECg/edit#gid=462945552) where I added the list so that you could have a look at it

[2019-09-02 17:57] LinguList commented on #50
Okay, checking this list in a sole PR is extremely tedious, so I recommend that at least two persons additionally check this list in gdocs before, similar to the way we did it last time, with a column where we indicate "JML saw this" or similar, so we are sure, as this list is very long. But once this is done, a PR for the list alone is definitely possible, and should be done. However, We should t

[2019-09-02 20:30] Kristina-Pianykh commented on #50
@LinguList you can find the PDF [here](https://www.sil.org/resources/publications/entry/7882). I will then add a column with pages where each entry can be found.
I'll also mark @chrzyki here so that he can have a look at it too whenever he's got some time

[2019-09-09 07:09] chrzyki commented on #50
Thanks @Kristina-Pianykh, I'll have a go at the Google sheet.

[2019-09-09 09:51] chrzyki commented on #50
I've had a first look at the list and left a couple of comments. Great job so far! I think that there is definitely more room for more 'proposed' concepts than are currently in there. Will have another go at the list later on.

[2019-09-11 09:20] #605 closed

[2019-09-11 09:21] #529 closed

[2019-09-27 13:57] Kristina-Pianykh opened #649 "Identical concept sets"
There are a few instances of similar, if not identical, concept sets:

|ID|Name|Definition|Semantic field|Ontological category|Representation
|---|---|---|---|---|---|
|140|PADDY FIELD| A flooded field where rice is grown.| Agriculture and vegetation| Person/Thing|17|
|283|PADDY| Wet land in which rice is grown.|Agriculture and vegetation| Person/Thing|0|

_________________________________________

[2019-09-30 09:27] chrzyki commented on #649
I agree with all of the changes/proposals! If you don't mind, you can go ahead and prepare a PR (I'll show you how to do the replacement).

[2019-09-30 09:32] Schweikhard commented on #649
The majority of these are already marked as duplicates in the rightmost column of concepticon.tsv.
The tree stumps and crayfishes can be merged.
Also braise and steam can likely be merged - @MacyL told me that everything on braise should be moved to steam, and that the first one on steam (by Allen) actually just means to cook in general.

[2019-09-30 13:16] Kristina-Pianykh commented on #649
@Schweikhard should then the duplicate concepts be kept in concepticon.tsv? Wouldn't it be somewhat confusing?

P.S.: I will then link the entry in [Allen](https://concepticon.clld.org/values/Allen-2007-500-310) to STEAM and eliminate BRAISE, right? Because if Chinese 蒸 means to cook, then all the identical glosses in other lists (Castro-2010, Chen-2012) should be moved to COOK, shouldn't they?

[2019-09-30 13:27] LinguList commented on #649
Linking for Chinese characters should be consistent, but there are other words for cook, so this needs to be double-checked.

As to the old entires: we decided long time ago to leave them IN. The practice is: if you have accidentally introduced a duplicate, add the ID of the correct concepticon entry to the last column, and use the lowest ID as basis. In this way, one can also capture direct alias

[2019-09-30 13:29] LinguList commented on #649
And 蒸 is "dünsten", i.e., not the same as cooking something (cooking is broad sense of preparing food, as in German "kochen"). Maybe ask @laiyunfan or @MacyL to clarify, but the dictionaries clearly indicate that 蒸 is rather braise, and another word is usually used if you talk of cooking in general.

[2019-10-01 11:33] Kristina-Pianykh commented on #340
@LinguList I'd like to work on this list but I was wondering if it's still relevant.

[2019-10-01 11:36] LinguList commented on #340
It is.

[2019-10-01 11:42] Kristina-Pianykh commented on #340
@LinguList one more thing:

There are a few lists in the source, the first one being the vocabulary, the second - the free pronouns and the rest of them - some morphological elements (affixes). Shall I take the list with the pronouns together with the vocabulary (p. 516 in the [source](http://sealang.net/archives/pl/pdf/PL-C39.441.pdf)?

[2019-10-01 11:44] LinguList commented on #340
I'd make two lists then, I guess, if the book makes a strong distinction here.

[2019-10-01 11:54] lannin commented on #340
I think it's may be better as different lists...

вт, 1 окт. 2019 г., 14:42 Kristina-Pianykh <notifications@github.com>:

[2019-10-01 12:02] Kristina-Pianykh commented on #649
I've just consulted @MacyL (thank you for help!), and 蒸 denotes the action of steaming food ('to steam'), which is to place food over steam to heat it up. In this case, should the entries with 蒸 be moved from BRAISE (VERB) to STEAM (VERB)?

[2019-10-01 12:07] LinguList commented on #649
I thought BRAISE would mean more or less exactly this? Namely, "dünsten" or "dämpfen" in German?

[2019-10-01 12:08] LinguList commented on #649
If this is not the correct term, translate as STEAM (SOMETHING) or STEAM (VERB)

[2019-10-01 12:10] chrzyki commented on #649
BRAISE (https://en.wikipedia.org/wiki/Braising/ & https://de.wikipedia.org/wiki/Schmoren) vs STEAM (https://en.wikipedia.org/wiki/Steaming & https://de.wikipedia.org/wiki/D%C3%A4mpfen_(Kochen)).

[2019-10-02 10:15] #340 closed

[2019-10-02 10:43] chrzyki opened #651 "Numeral Systems of the World's Languages"
* **https://mpi-lingweb.shh.mpg.de/numeral/**

Essentially, this is a questionnaire study culminating in lots of number lexeme tables, e.g.:

* https://mpi-lingweb.shh.mpg.de/numeral/Khowar.htm
* https://mpi-lingweb.shh.mpg.de/numeral/Bahinemo.htm
* https://mpi-lingweb.shh.mpg.de/numeral/Izon.htm

A *rough* total number of concepts can be found here:

* https://gist.github.com/chrzyki/09408370c0c1

[2019-10-07 10:08] Kristina-Pianykh commented on #651
@chrzyki shall I add new concept sets even for those numerals that are listed only once / for one language?

[2019-10-07 10:51] LinguList commented on #651
beware that we also need to add the concept-sets-meta, which is in the metadata folder, and consists of a simple number reflecting the numeral, if it can be displayed in a number.

[2019-10-07 11:04] chrzyki commented on #651
Yes please! And as @LinguList said, also make sure to add the metadata like it was done for the other numerals.

[2019-10-08 10:40] chrzyki commented on #651
Done

[2019-10-08 10:40] #651 closed

[2019-10-08 10:41] chrzyki commented on #424
That is done, correct?

[2019-10-08 10:41] #424 closed

[2019-10-08 10:41] chrzyki commented on #365
Done, correct?

[2019-10-08 10:41] #365 closed

[2019-10-10 12:21] Schweikhard commented on #621
Would the "fix a bike" also contain patching a pot, as in Huang's 补(~锅)?

I'd propose to retire FIX (as it's not a prototypical way of expressing either meaning) and to add a new concept REPAIR CLOTH or similar.

Btw, I would use "flicken" for both cloth and bike - but in the latter case mainly for repairing the wheel.

[2019-10-10 12:53] LinguList commented on #621
difficult, and language-specific, but if we say: we start from two basic concepts: flicken und reparieren, with their German definitions, we could just impose them on the data, and later, you would find interesting colexifications. FIX could be a meta-concept.

[2019-10-10 13:16] Schweikhard opened #655 "Pot, clay pot, kettle, pan, wok, jug, earthen jug"
POT https://concepticon.clld.org/parameters/1462
CLAY POT https://concepticon.clld.org/parameters/2055
KETTLE https://concepticon.clld.org/parameters/854
PAN https://concepticon.clld.org/parameters/31
WOK https://concepticon.clld.org/parameters/2056
JUG https://concepticon.clld.org/parameters/270
EARTHEN JUG https://concepticon.clld.org/parameters/3409

I think currently the English glosses are mo

[2019-10-10 13:32] Schweikhard commented on #621
Good idea, just, I took a closer look at it, and Huang differentiates between patching clothes and tinkering a pot. And Hale73 has both to mend and to patch in the food and clothing section, and therefore distinguishes repairing clothes with a patch and by other means.

Suggestion:
MEND for 补(衣) fixing clothes
REPAIR for fixing other stuff
FIX as (possibly empty) hyperonym.

Fixing pots unlinked f

[2019-10-11 08:13] #649 closed

[2019-10-11 10:54] #555 closed

[2019-10-11 10:54] #621 closed

[2019-10-17 13:21] #457 closed

[2019-10-22 09:46] Kristina-Pianykh commented on #371
@DavidNash1 is there any other way I could download this list? I'm not sure that GitHub allows access to directly attached files.

[2019-10-22 10:18] DavidNash1 commented on #371
When I click on the link (https://github.com/clld/concepticon-data/files/2532053/Capell1956.xlsx) the spreadsheet downloads (but doesn't display in the browser).
This message composition pane at the bottom invites "Attach files by ..." so GitHub presumably allows some kind of access to files so attached.

[2019-10-22 10:38] SimonGreenhill commented on #371
I've just emailed it to you @Kristina-Pianykh , thanks @DavidNash1!

[2019-10-22 10:40] DavidNash1 commented on #371
Goodoh; and did you get it from GitHub here?!

[2019-10-22 10:42] SimonGreenhill commented on #371
yes, but it bounced through a bunch of URLS and took quite a while, so maybe I just got lucky?

[2019-10-22 10:48] Kristina-Pianykh commented on #371
It worked this time, thank you @DavidNash1 and @SimonGreenhill!

[2019-10-22 11:36] Kristina-Pianykh commented on #523
@DavidNash1 the last two columns in the file, downloaded from the last link you attached, still seem to be misaligned. Any ideas on how it could be fixed?

[2019-10-22 12:20] DavidNash1 commented on #523
Well, there are 3 columns:
1 English : gloss
2 Swadesh 200 : a number
3 Capell 1956:85 Common Australian : Capell's proposed proto form(s)
I don't see any misalignment: could you elaborate?

[2019-10-23 08:50] Kristina-Pianykh commented on #523
You must be talking about the list from issue #371 but my question here was related to the list of various wordlist schemes (the one, comparing glosses across several lists, see above). Sorry for the confusion.

[2019-10-23 10:45] #608 closed

[2019-10-23 10:59] DavidNash1 commented on #523
Well, there is a vertical border setting off those two columns, of Capell's NA (=North Australia) list. In retrospect I realise I should've uploaded those 2 columns as a separate file. To align that pair of columns with another meanings list is a task just like any similar alignment task; I can't think of any shortcut, sorry.  But is someone writes that pair coulmns out as a seprate file to give a

[2019-10-24 07:55] chrzyki opened #659 "Google's UniNum"
https://github.com/google/uninum

Straightforward collection of numerals between `0` and `100000000000` in 183 languages.

[2019-10-24 08:00] chrzyki commented on #659
Yeah, they kindly and quickly added them after a quick PR. :)

https://github.com/google/uninum/pull/1

[2019-10-25 12:10] chrzyki commented on #659
@Kristina-Pianykh this concept list is missing `1000000000000` which occurs only once in the source data (in Estonian), confirmed here: https://github.com/google/uninum/issues/5.

[2019-10-28 11:27] LinguList opened #662 "Joo-2019-100: variatn of Leipzig-Jakarta"
The only variant is the spelling of the pronouns, but this shows how minor things can still prevent machine-readability.

All information is in fact there, this just needs to be added, and I'd be glad for takers.

[2019-10-28 11:29] LinguList commented on #662
Concept list is [here](https://github.com/lexibank/joophonosemantic/blob/master/etc/concepts.csv).

Bibtex is here (but this is ahead of print, so needs to be adjusted in a couple of month, if hte volume is officially published.

[code]

[2019-10-28 13:44] #662 closed

[2019-10-28 13:55] chrzyki commented on #659
Fixed & done.

[2019-10-28 13:55] #659 closed

[2019-10-29 14:00] chrzyki opened #664 "Huber-1992-374 missing concepts/wrong numbers?"
https://github.com/concepticon/concepticon-data/blob/master/concepticondata/conceptlists/Huber-1992-374.tsv

I'm a little bit confused with respect to this list (just noticed while working on the Lexibank data):

- it says 374 concepts in the title, but there is only 366 concepts in the list
- the number column is wrong in that it skips numbers and counts all the way to 374
- the original list (ht

[2019-10-29 14:06] LinguList commented on #664
There's a serious problem then. It needs to be checked with the original source then, also to see if the concepts add up, etc.

[2019-10-29 14:09] LinguList commented on #664
In my opinion, it is wortwhile to:

1. type the list off again, and this time, truthfully to the source (we used it from the digitized version in lexibank by then, I myself was not primarily involved)
2. check with the glosses that are used in lexibank_hubercolumbian, and add them, with concept mappings, next to it
3. update concepticon,

I think the digitized version of huber and reed was comprom

[2019-10-29 14:30] chrzyki commented on #664
@Kristina-Pianykh and I checked it, there are another couple of issues. @Kristina-Pianykh will work on the list. Thanks!

[2019-10-30 14:43] chrzyki opened #665 "Update on Polyglotta Africana/RefLex African List"
I recall this being discussed via mail and @Kristina-Pianykh waiting for input (if I remember correctly). Could we quickly discuss the status here? (Also to have it properly associated with the repository.

[2019-10-30 14:44] tresoldi commented on #665
We also need to check if it is the same concept list for `tls`, and how much overlap there is with the mapping I did in the past: https://github.com/lexibank/tls/blob/master/etc/concepts.csv

[2019-10-30 14:46] tresoldi commented on #665
This issue might be related to Nurse-1975 as well: https://github.com/concepticon/concepticon-data/issues/272

[2019-11-03 20:56] Kristina-Pianykh commented on #665
All the lists could be found [here](https://docs.google.com/spreadsheets/d/10VrKzLbB65kSm7JYT4S7uJLqNR1jJZ6sESGECApMECg/edit#gid=554505756). Polyglotta Africana (see Polyglotta retyped), the lists by Donzo (see Donzo Appendices B-C, Donzo Appendices 1-4), Marchese (see Marchese Kru updated) and Smeltzer (see Smeltzer Bozo updated) were all retyped. I tried my best linking the French glosses but I'

[2019-11-03 20:59] Kristina-Pianykh commented on #665
The data from Snider's list was taken from [concepticon-dev](https://github.com/concepticon/concepticon-dev/blob/master/concepticondata/conceptlists/Snider-2004-1700.tsv), the source is on [comparalex](http://comparalex.org/?page=stdlist&id=13).

[2019-11-04 07:30] LinguList commented on #665
Do you also have the official PDF? It's called "SIL COMPARATIVE AFRICAN WORDLIST", and this should be easy to find online. The problem is: it is PDF, and comparalex did some work of themselves to get the list into their format, so it is not clear how regular the lists match (but we may also say we take it from comparalex and check, etc.).

[2019-11-04 10:10] Kristina-Pianykh commented on #665
Here the official publication [announced](https://www.sil.org/resources/publications/entry/7882) and here's the [PDF](https://www.sil.org/system/files/reapdata/88/54/65/88546558467011236880873045745569794523/silewp2006_005.pdf).

[2019-11-04 16:23] LinguList opened #666 "Carling-2019-XXX: borrowability rankings interesting for concepticon"
* https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0223588#sec024

These should ideally be checked, they supply excel sheets, I had no time to look at the data, but if they contain rankings, we should add them to concepticon.

[2019-11-04 19:29] tresoldi opened #667 "Double mapping in Kraft-1981-434"
Kraft-1981 has two different glosses ("tā̀barmā" and "zānā" in Hausa, concepts Kraft-1981-434-232 and Kraft-1981-434-233) mapped to 195 MAT.

The mapping is not wrong (Google Images and the English glosses confirm they are different types of mats), but according to the practice in other lists we should decide for unmapping one of them. By occurrences, it seems that tabarma is the most general conc

[2019-11-05 11:41] #664 closed

[2019-11-05 11:57] LinguList opened #669 "Ceolin-XXXX-2019"
https://github.com/lexibank/lexibank/issues/176

This list is easy to add, but it is probably only available in PDF.

[2019-11-05 11:59] LinguList opened #670 "RojasBerscia-XX-2019"
https://github.com/lexibank/lexibank/issues/174

Very small list, easy to map.

[2019-11-05 11:59] tresoldi commented on #669
I kinda know the guy, could write him if needed.

[2019-11-05 12:04] LinguList commented on #669
I placed an issue on the github, but no answer. Yet the data can be easily typed off also.

[2019-11-05 14:08] #666 closed

[2019-11-05 14:08] #669 closed

[2019-11-05 18:30] xrotwang commented on #670
see #672

[2019-11-05 18:30] #670 closed

[2019-11-05 20:26] LinguList opened #676 "[Important for 2.3] Manually check retired.json for links from Huber-1992-374 to Huber-1992-375"
The ids are out of sync now, so the retired will most likely wrongly relink entries. We deliberately ignore this for 2.2, but it has to be done (although it's boring) for 2.3. That means: somebody (volunteers welcome) has to compare Huber-1992-374 with Huber-1992-375 and make new links for retired.json.

[2019-11-05 20:49] xrotwang commented on #676
I think I'll fix this tonight - i.e. before 2.2.

[2019-11-05 20:49] LinguList commented on #676
Okay, sorry for the mess. I guess we all learned a lesson for future lexibank-concepticon-interactions.

[2019-11-06 06:29] #676 closed

[2019-11-08 10:52] #600 closed

[2019-11-12 16:30] LinguList opened #677 "Ambridge-2019-60: norm data on grammaticality judgments on different languages"
I guess this is the first time somebody who's not any of us uses concepticon for their research!

https://osf.io/pavm7/

They write:

Paper is here: https://osf.io/mqgw9/download

[2019-11-25 10:41] Kristina-Pianykh commented on #677
@LinguList should this list be added to Concepticon?

[2019-11-25 10:43] LinguList commented on #677
Yes! I think that would be very nice!

[2019-11-25 10:46] LinguList commented on #677
Ah, @Kristina-Pianykh, if you add this, could you make sure to also add as much of their specific data, as possible? That's ultimately what would be interesting for us.

[2019-11-25 13:06] Kristina-Pianykh commented on #677
The data contain two separate columns for causal and non-causal interpretations for each of the 60 verbs. E.g., _bark_ in the non-causal column corresponds to _make bark_ in the causal column and so on. For some instances, there are separate concepts in Concepticon (e.g., BOIL (OF LIQUID) and BOIL (SOMETHING)) but they are rather scarce for such a small list (compare also with _laugh_ and _make la

[2019-11-25 13:42] LinguList commented on #677
Okay, here's what I propose: if possible, we should separate causatives from non-causative constructions, since this is again valuable information. If we lack the forms in concepticon, I'd propose to add them (even if it's tedious). Furthermore, you can add a column "counterpart", which will store the counterpart concept (e.g., a causative form of a non-causative form), and this could be a concept

[2019-11-25 13:53] Kristina-Pianykh commented on #677
Yes, but in this case adding all the missing concepts would mean also that there will be such awkward concepts like MAKE LAUGH, MAKE CLIMB, MAKE CRY, MAKE DANCE, etc. for which there are no full-fledged lexical realizations in English. Would it still be fine?

[2019-11-25 13:56] LinguList commented on #677
Yes, I think it would be very fine, since there are some other unmapped datasets where causatives will occur. And since this is a first list where people actually *query* that information, it is also "licensed", as our rule is: we can add a certain concept, if there's a questionnaire that makes the distinction. Here, we could say that this is the case.

BTW: maybe, the information on SOURCE is not

[2019-12-04 11:00] LinguList opened #679 "Chen-2012-888: Bucket"
水桶 should be linked to BUCKET.

[2019-12-04 11:01] LinguList commented on #679
COMPARE is also not linked. Also in other concept lists (nagano, etc.)

[2019-12-04 11:39] Kristina-Pianykh opened #680 "FLEE and RUN AWAY"
Is there a difference between [956 FLEE](https://concepticon.clld.org/parameters/956) and [2142 RUN AWAY](https://concepticon.clld.org/parameters/2142)? The Chinese 逃跑 is mapped to FLEE  in some lists and RUN AWAY in the others, introducing inconsistency. Would it be better to merge the two concepts?

[2019-12-04 11:51] LinguList commented on #680
well, one is abstractt according to definition, one is not.

[2019-12-04 11:53] LinguList commented on #680
And you are right: the Chinese 逃跑 or 逃跑 are probably better linked to run away, as this involves a movement, it's not like you flee an interview. I think, Chinese would express that differently.

[2019-12-04 11:55] Kristina-Pianykh commented on #680
Thanks, now I got it!
I'll move the Chinese glosses to RUN AWAY then.

[2019-12-04 18:38] chrzyki opened #681 "Dawson-1887-700 (roughly 700), Notes and observations on the Kwakiool people of Vancouver Island"
"... and adjacent coasts, made during the summer of 1885; with a vocabulary of about seven hundred words."

[2019-12-05 21:32] LinguList opened #683 "Lexical Questionnaires by Paperno and Ryzhova"
online at: https://sites.google.com/site/denispaperno/papers/questionnaires.zip

I did not yet fully understand the idea, but they use adjectives and word vectors to check for context that is useful to elicit a certain meaning.

Link to full text is here: https://scholarspace.manoa.hawaii.edu/handle/10125/24857

The list is not long. Probably interesting in the context of semantic norm data.

[2019-12-06 12:42] LinguList opened #684 "Brown 2017: borrowing statistics derived from WOLD"
The PDF is here: https://ndownloader.figshare.com/files/9409027
The lists start from 309.

The article itself is https://brill.com/view/journals/ldc/7/2/article-p252_5.xml

The author quotes @xrotwang to have given him the additional borrowing information on the WOLD. But as far as I understand, @xrotwang, this information is also in the WOLD online itself, right?

If it is, I would probably not c

[2019-12-06 13:00] Schweikhard commented on #683
Sounds interesting, I'll take a look.

[2019-12-06 13:02] Schweikhard commented on #683
They also include semantic field tags, so this would also be nice for Speech Norms.

[2019-12-11 15:27] AnnikaTjuka opened #687 "Typo in concept: SNAPP (OF STICK) 459"
The concept SNAPP (OF STICK) 459 has one "p" too much.

Only in inflected forms, the verb "to snap" has a two "pp", e.g, "snapping", "snapped". I think that is why nobody recognized it.

@tresoldi pointed out that the concept is also linked to CLICS, so I don't know whether it can be changed easily.

[2019-12-11 15:35] LinguList commented on #687
Well, we have a file `concepticondata/retired.json`, where we can in fact make sure that something is re-linked to something, but I do not know, @xrotwang can tell us, if this would also be possible for an updated concept gloss.

[2019-12-11 15:40] xrotwang commented on #687
@AnnikaTjuka you'd only want to fix the concept gloss, right? This would be easy. Retiring would only be necessary, if "SNAP (OF STICK)" is already available, so we'd remove a conceptset ID.